:root {
    --progress-bar-gap: 10px;
    --controls-gap: 0px;
}

.ProgressBar_slider {
    width: var(--cover-size);
    transition: var(--cover-width-transition)
}

.ProgressBar_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--progress-bar-gap);
    max-width: 90vw;
    transition: var(--cover-width-transition);
    min-width: 245px;
    margin-bottom: var(--controls-gap);

    @media (min-height: 550px) {
        --controls-gap: 16px;
    }
    @media (max-height: 380px) {
        --controls-gap: 16px;
        transition: margin-top 0.2s, margin-bottom 0.2s;
        margin-top: var(--controls-gap);
    }
    @media (max-height: 270px) {
        --controls-gap: 8px;
        transition: margin-top 0.2s, margin-bottom 0.2s;
        margin-top: var(--controls-gap);
    }
}

.ProgressBar_timestamp_hover {
    opacity: 0;
}

.ProgressBar_container:hover {
    .ProgressBar_timestamp_hover {
        opacity: 1;
    }
}
