:root {
    --controls-color-disabled: hsla(0, 0%, 100%, 0.08);
    --controls-color-enabled: hsla(0, 0%, 100%, 0.5);
    --controls-bg-color-enabled: rgba(26, 26, 26, 0.9);
    --controls-bg-color-hovered: rgba(51, 51, 51, 0.9);
}

.PlayerActionButton {
    padding: 0.625rem;
    margin: 0;
    border-radius: 50%;
    background: none;
    border: none;
    color: var(--controls-color-enabled);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
            background-color var(--ym-duration-transition),
            transform var(--ym-duration-transition),
            color var(--ym-duration-transition),
            padding-inline var(--ym-duration-transition);

    @media (max-width: 335px) {
        padding-inline: 0.375rem;

    }
}
.PlayerActionButton:not(:disabled):focus-visible,
.PlayerActionButton:not(:disabled):hover {
    transform: scale(1.05);
    color: var(--controls-primary-color-enabled);
}

.PlayerActionButton:disabled {
    cursor: default;
    color: var(--controls-color-disabled);
}

.PlayerActionButton_secondary {
    padding: 0.5rem;

    @media (max-width: 320px) {
        padding-inline: 0.15rem;

    }
}

.PlayerActionButton_overlay {
    background-color: var(--controls-bg-color-enabled);
    aspect-ratio: 1;
}

.PlayerActionButton_overlay:not(:disabled):focus-visible,
.PlayerActionButton_overlay:not(:disabled):hover {
    background-color: var(--controls-bg-color-hovered);
}

.PlayerActionButton_overlay_primary {
    aspect-ratio: 1;
    color: var(--controls-primary-color-enabled);
    background-color: var(--controls-bg-color-enabled);
}

.PlayerActionButton_overlay_primary:not(:disabled):focus-visible,
.PlayerActionButton_overlay_primary:not(:disabled):hover {
    background-color: var(--controls-bg-color-hovered);
}

.PlayerActionButton_overlay_yellow {
    aspect-ratio: 1;
    color: var(--controls-bg-color-enabled);
    background-color: var(--controls-yellow-play-color);
}

.PlayerActionButton_overlay_yellow:not(:disabled):focus-visible,
.PlayerActionButton_overlay_yellow:not(:disabled):hover {
    background-color: var(--controls-yellow-play-color);
    color: var(--controls-bg-color-enabled);
}
