/app.asar
/app.txt
*package-lock.json
/node_modules
/extracted/
/diff/
/builds/
/.env
/tmp/
/minified/
/native/*/build/*
/native/*/node_modules/*
/src/main/native_modules/
/dataminer/output/
/chunkDiff/
/src/main/lib/miniplayer/renderer/
