{
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 170,
  "endOfLine": "lf",
  "arrowParens": "always",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
