.TitleBar {
    inset-block-start: 0;
    inset-inline: 0;
    justify-content: flex-end;
    display: flex;
    user-select: none;
    -webkit-app-region: drag;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,0.2);
    align-items: center;
    height: 32px;
    position: absolute;
    z-index: 10;
}

.TitleBar_button_container {
    display: flex;
    flex-direction: row;
}
