.ShareIframeEditor_root__LALvp {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxl);
}
@media only screen and (max-width: 767.98px) {
    .ShareIframeEditor_root__LALvp {
        flex-direction: column-reverse;
        max-height: calc(100vh - 8.625rem);
    }
}
.ShareIframeEditor_controls__k8vT_ {
    display: flex;
    gap: var(--ym-spacer-size-l);
}
@media only screen and (max-width: 767.98px) {
    .ShareIframeEditor_controls__k8vT_ {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .ShareIframeEditor_controls__k8vT_
        .ShareIframeEditor_iframeCodeInputContainer__b4Klq {
        grid-column: 1/3;
        grid-row: 1;
    }
    .ShareIframeEditor_controls__k8vT_ .ShareIframeEditor_settings__UWt51 {
        grid-column: 1;
        grid-row: 2;
    }
    .ShareIframeEditor_controls__k8vT_ .ShareIframeEditor_copyButton___jOz_ {
        grid-column: 2;
        grid-row: 2;
    }
}
.ShareIframeEditor_settings__UWt51 {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-xs);
}
.ShareIframeEditor_sizeInputContainer__s6PMW {
    width: 4.5rem;
}
.ShareIframeEditor_copyButton___jOz_ {
    padding-block-end: var(--ym-spacer-size-s);
    padding-block-start: var(--ym-spacer-size-s);
    padding-inline-end: var(--ym-spacer-size-xl);
    padding-inline-start: var(--ym-spacer-size-xl);
}
.ShareIframeEditor_iframeCodeInput__M9w6E {
    overflow-x: scroll;
}
.ShareIframeEditor_iframeCodeInputContainer__b4Klq {
    flex-grow: 1;
}
.ShareIframeEditor_iframeContainer__pgdr5 {
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-height: 27.875rem;
    overflow: scroll;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .ShareIframeEditor_iframeContainer__pgdr5 {
        max-height: calc(90vh - 3rem);
    }
}
.ShareIframeEditor_iframe__ky5_o {
    border: none;
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
}
.ShareIframeModal_root__t_NbK {
    height: auto;
    max-width: 41.375rem;
    padding: var(--ym-spacer-size-xxl);
    position: fixed;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .ShareIframeModal_root__t_NbK {
        -webkit-backdrop-filter: initial;
        backdrop-filter: none;
        background-color: var(--ym-background-color-primary-enabled-popover);
        border-end-end-radius: 0;
        border-end-start-radius: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        inset-block-end: 0;
        max-height: none;
        padding: var(--ym-spacer-size-l);
        position: fixed;
        width: 100%;
    }
}
.ShareIframeModal_content__jcq_o {
    padding-block-start: var(--ym-spacer-size-xxl);
}
