.BrowserUpdateNotification_root__IN495.BrowserUpdateNotification_important__6k4Gb {
  color: var(--ym-controls-color-primary-text-enabled_variant);
  padding: var(--ym-spacer-size-m);
  padding-inline-start: var(--ym-spacer-size-l);
}
