.CollectionAlbumsPageContent_root__2Ya18 {
    container-name: collection-albums-page-content;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .CollectionAlbumsPageContent_root__2Ya18 {
        container-type: normal;
    }
}
.CollectionAlbumsPageContent_scrollContainer__0TjJm.CollectionAlbumsPageContent_important__fixM8 {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}
.CollectionAlbumsPageContent_content__jcwRU {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@supports (-moz-appearance: none) {
    .CollectionAlbumsPageContent_content__jcwRU {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionAlbumsPageContent_content__jcwRU {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
@media only screen and (min-width: 360px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(
            2,
            minmax(var(--min-column-size), 1fr)
        ) !important;
    }
    @container collection-albums-page-content (width >= 618px) {
        .CollectionAlbumsPageContent_content__jcwRU {
            grid-template-columns: repeat(
                3,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-albums-page-content (width >= 815px) {
        .CollectionAlbumsPageContent_content__jcwRU {
            grid-template-columns: repeat(
                4,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-albums-page-content (width >= 1010px) {
        .CollectionAlbumsPageContent_content__jcwRU {
            grid-template-columns: repeat(
                5,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-albums-page-content (width >= 1206px) {
        .CollectionAlbumsPageContent_content__jcwRU {
            grid-template-columns: repeat(
                6,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .CollectionAlbumsPageContent_content__jcwRU {
        grid-template-columns: repeat(7, 1fr);
    }
}
.CollectionAlbumsPageContent_footer__ZkUKY {
    margin-block-start: auto;
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .CollectionAlbumsPageContent_footer__ZkUKY {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionAlbumsPageContent_footer__ZkUKY {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionAlbumsPageContent_footer__ZkUKY {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionAlbumsPageContent_item__I_Wuz {
    display: flex;
    min-width: 8.75rem;
}
.CollectionAlbumsPageContent_tabPanel__0qXKZ {
    height: 100%;
    width: 100%;
}
.CollectionAlbumsPageEmpty_root__7yn1F {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-s);
    height: calc(100% - var(--collection-header-with-tabs-height));
    justify-content: center;
    padding: var(--ym-spacer-size-xxl);
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .CollectionAlbumsPageEmpty_root__7yn1F {
        padding: var(--ym-spacer-size-l);
    }
}
.CollectionAlbumsPageEmpty_icon__XFf9x {
    margin-block-end: var(--ym-spacer-size-xxs);
}
.CollectionAlbumsPageEmpty_icon__XFf9x,
.CollectionAlbumsPageEmpty_title__hMQde {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.CollectionAlbumsPageEmpty_text__jp_lj,
.CollectionAlbumsPageEmpty_title__hMQde {
    text-align: center;
}
.CollectionArtistsPage_root__EH25F {
    container-name: collection-artists-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .CollectionArtistsPage_root__EH25F {
        container-type: normal;
    }
}
.CollectionArtistsPage_scrollContainer__tT6NQ.CollectionArtistsPage_important__MG_XV {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .CollectionArtistsPage_scrollContainer__tT6NQ.CollectionArtistsPage_important__MG_XV {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.CollectionArtistsPage_footer__aZrx3 {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .CollectionArtistsPage_footer__aZrx3 {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionArtistsPage_footer__aZrx3 {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionArtistsPage_footer__aZrx3 {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionArtistsPage_item___cy_9 {
    min-width: 8.75rem;
}
.CollectionArtistsPage_contentBlock__5QDcr {
    container-name: artist-page-content;
    container-type: inline-size;
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
.CollectionArtistsPage_contentBlock_withMarginTop__e4_VX {
    margin-block-start: var(--subpage-sticky-header-height);
}
@supports (-moz-appearance: none) {
    .CollectionArtistsPage_contentBlock__5QDcr {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionArtistsPage_contentBlock__5QDcr {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionArtistsPage_contentBlock__5QDcr {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionArtistsPage_gridLayout__00brJ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 360px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(
            2,
            minmax(var(--min-column-size), 1fr)
        ) !important;
    }
    @container collection-artists-page (width >= 618px) {
        .CollectionArtistsPage_gridLayout__00brJ {
            grid-template-columns: repeat(
                3,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-artists-page (width >= 815px) {
        .CollectionArtistsPage_gridLayout__00brJ {
            grid-template-columns: repeat(
                4,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-artists-page (width >= 1010px) {
        .CollectionArtistsPage_gridLayout__00brJ {
            grid-template-columns: repeat(
                5,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container collection-artists-page (width >= 1206px) {
        .CollectionArtistsPage_gridLayout__00brJ {
            grid-template-columns: repeat(
                6,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .CollectionArtistsPage_gridLayout__00brJ {
        grid-template-columns: repeat(7, 1fr);
    }
}
.CollectionArtistsPage_subTitle__My70z {
    padding-block-start: calc(var(--ym-spacer-size-m) * 2);
}
.CollectionArtistsPageTopArtists_subTitle__xJdoJ,
.CollectionArtistsPage_subTitle__My70z {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    padding-block-end: calc(var(--ym-spacer-size-m) * 2);
}
.CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 360px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(
            2,
            minmax(var(--min-column-size), 1fr)
        ) !important;
    }
    @container artist-page-content (width >= 618px) {
        .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
            grid-template-columns: repeat(
                3,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container artist-page-content (width >= 815px) {
        .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
            grid-template-columns: repeat(
                4,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container artist-page-content (width >= 1010px) {
        .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
            grid-template-columns: repeat(
                5,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
    @container artist-page-content (width >= 1206px) {
        .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
            grid-template-columns: repeat(
                6,
                minmax(var(--min-column-size), 1fr)
            ) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .CollectionArtistsPageTopArtists_gridLayout__H2AR_ {
        grid-template-columns: repeat(7, 1fr);
    }
}
.CollectionArtistsPageTopArtists_chart__inbPE {
    flex-direction: row;
    font-weight: var(--ym-font-weight-bold);
    gap: 0;
    margin-inline-end: auto;
    margin-inline-start: auto;
}
.CollectionArtistsPageTopArtists_position__YDoRC {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.CollectionArtistsPageTopArtists_listenTime__NqxRf {
    color: var(--ym-controls-color-primary-text-enabled);
}
