.PageHeaderBase_root__xMIBu {
  --cover-cell-size: 12.75rem;
  display: grid;
  grid-template: "content" auto/1fr;
  grid-gap: var(--ym-spacer-size-xxl);
  gap: var(--ym-spacer-size-xxl);
}
.PageHeaderBase_root_withCover__JIKxy {
  grid-template: "cover content" auto/var(--cover-cell-size) 1fr;
}
.PageHeaderBase_root_withCoverAndLogo__nsTU2 {
  grid-template: "cover content logo" auto/var(
      --cover-cell-size
    ) 1fr min-content;
}
@media only screen and (max-width: 1060px) {
  .PageHeaderBase_root_withCover__JIKxy {
    grid-template: "cover" var(--cover-cell-size) "content" auto/1fr;
  }
  .PageHeaderBase_root_withCoverAndLogo__nsTU2 {
    grid-template: "cover logo" auto "content content" auto/var(
        --cover-cell-size
      ) 1fr;
  }
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_root__xMIBu {
    --cover-cell-size: 10.5rem;
    gap: var(--ym-spacer-size-l);
    justify-items: center;
  }
  .PageHeaderBase_root_withCoverAndLogo__nsTU2 {
    grid-template: "logo" auto "cover" auto "content" auto/1fr;
  }
}
.PageHeaderBase_logo__pD3fg {
  grid-area: logo;
  justify-self: flex-end;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_logo__pD3fg {
    justify-self: center;
    margin-block-end: var(--ym-spacer-size-xs);
  }
}
.PageHeaderBase_coverCell__nBx4c {
  aspect-ratio: 1;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  grid-area: cover;
  max-height: var(--cover-cell-size);
  max-width: var(--cover-cell-size);
  width: 100%;
}
.PageHeaderBase_content___DNyv {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  grid-area: content;
  max-width: 100%;
  min-width: 0;
  padding-block-end: var(--ym-spacer-size-l);
  padding-block-start: var(--ym-spacer-size-xs);
  padding-inline-start: var(--ym-spacer-size-xxxs);
  width: 100%;
}
@media only screen and (max-width: 1060px) {
  .PageHeaderBase_content___DNyv {
    padding: 0;
  }
}
.PageHeaderBase_info__GRcah {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_info__GRcah {
    gap: var(--ym-spacer-size-m);
  }
}
.PageHeaderBase_entityContainer__BDwxT {
  align-items: center;
  display: flex;
  margin-block-end: var(--ym-spacer-size-s);
  order: 1;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_entityContainer__BDwxT {
    justify-content: center;
    margin-block-end: 0;
    order: 2;
  }
}
.PageHeaderBase_title_withDisclaimerLabel__Apuhc {
  order: 2;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_title_withDisclaimerLabel__Apuhc {
    order: 1;
  }
}
.PageHeaderBase_entityName__9Sj_Q {
  align-items: center;
  color: var(--ym-controls-color-primary-text-enabled);
  display: flex;
  gap: var(--ym-spacer-size-xs);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_entityName__9Sj_Q {
    display: none;
  }
}
.PageHeaderBase_disclaimerLabel___2wo6 {
  background-color: var(--ym-controls-color-secondary-default-enabled);
  white-space: pre-wrap;
}
.PageHeaderBase_meta__bMvfR {
  margin-block-end: var(--ym-spacer-size-xxxl);
}
.PageHeaderBase_meta_withDisclaimerLabel__nxckS {
  order: 3;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_meta__bMvfR {
    margin-block-end: 0;
  }
}
.PageHeaderBase_controls__HzGgE {
  display: flex;
  gap: var(--ym-spacer-size-m);
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderBase_controls__HzGgE {
    justify-content: center;
    margin-block-start: var(--ym-spacer-size-xxl);
  }
}
@container artist-header (width < 660px) {
  .PageHeaderBase_root_withCover__JIKxy {
    grid-template: "cover" var(--cover-cell-size) "content" auto/1fr;
  }
  .PageHeaderBase_root_withCoverAndLogo__nsTU2 {
    grid-template: "cover logo" auto "content content" auto/var(
        --cover-cell-size
      ) 1fr;
  }
  .PageHeaderBase_content___DNyv {
    padding: 0;
  }
}
@container playlist-header (width < 830px) {
  .PageHeaderBase_root_withCover__JIKxy {
    grid-template: "cover" var(--cover-cell-size) "content" auto/1fr;
  }
  .PageHeaderBase_root_withCoverAndLogo__nsTU2 {
    grid-template: "cover logo" auto "content content" auto/var(
        --cover-cell-size
      ) 1fr;
  }
  .PageHeaderBase_content___DNyv {
    padding: 0;
  }
}
.PageHeaderTextField_root__Aq9UL {
  --outline-width: 0.125rem;
  background-color: transparent;
  border: none;
  border-radius: 0.125rem;
  outline: 0.125rem solid var(--ym-controls-color-primary-text-enabled);
  outline: var(--outline-width) solid
    var(--ym-controls-color-primary-text-enabled);
  outline-offset: 0.0625rem;
  padding: 0;
  transition: outline var(--ym-duration-transition) ease-in-out;
}
.PageHeaderTextField_root_textarea__OgDzd {
  resize: none;
  transition: scrollbar-color 0.2s ease-in-out;
}
.PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 0.5rem solid transparent;
  border-radius: var(--ym-radius-size-l);
  min-height: 3.125rem;
}
.PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar {
  width: var(--ym-spacer-size-xxl);
}
@supports selector(scrollbar-width:auto) {
  .PageHeaderTextField_root_textarea__OgDzd {
    scrollbar-color: var(--ym-surface-color-primary-enabled-entity) transparent;
    scrollbar-gutter: stable;
  }
}
@supports selector(::-webkit-scrollbar) {
  .PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar-thumb {
    background-color: var(--ym-controls-color-primary-default-disabled);
  }
  .PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar-thumb:hover {
    background-color: var(--ym-surface-color-primary-enabled-entity);
  }
}
@media (prefers-reduced-motion: reduce) {
  .PageHeaderTextField_root_textarea__OgDzd {
    transition: none;
  }
}
@media only screen and (max-width: 1024px) {
  .PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar-thumb {
    border: 0.1875rem solid transparent;
  }
  .PageHeaderTextField_root_textarea__OgDzd::-webkit-scrollbar {
    width: var(--ym-spacer-size-m);
  }
}
.PageHeaderTextField_root__Aq9UL:active,
.PageHeaderTextField_root__Aq9UL:focus,
.PageHeaderTextField_root__Aq9UL:hover {
  outline: var(--outline-width) solid
    var(--ym-controls-color-primary-text-enabled_variant);
}
@media (prefers-reduced-motion: reduce) {
  .PageHeaderTextField_root__Aq9UL {
    transition: none;
  }
}
.PageHeaderTitle_root__ESu2q {
  display: flex;
  gap: var(--ym-spacer-size-l);
  margin-block-end: var(--ym-spacer-size-xs);
}
.PageHeaderTitle_root__ESu2q .PageHeaderTitle_editButton__KF4eh {
  align-self: flex-start;
  opacity: 0;
  transition: opacity var(--ym-duration-transition) ease-in-out;
}
.PageHeaderTitle_root__ESu2q .PageHeaderTitle_editButton_centered__W9EwU {
  align-self: center;
}
@media (prefers-reduced-motion: reduce) {
  .PageHeaderTitle_root__ESu2q .PageHeaderTitle_editButton__KF4eh {
    transition: none;
  }
}
.PageHeaderTitle_root__ESu2q:has(:focus-visible)
  .PageHeaderTitle_editButton__KF4eh,
.PageHeaderTitle_root__ESu2q:hover .PageHeaderTitle_editButton__KF4eh {
  opacity: 1;
}
@supports not selector(:has(*)) {
  .PageHeaderTitle_root__ESu2q:focus-within .PageHeaderTitle_editButton__KF4eh,
  .PageHeaderTitle_root__ESu2q:hover .PageHeaderTitle_editButton__KF4eh {
    opacity: 1;
  }
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderTitle_root__ESu2q {
    justify-content: center;
  }
}
.PageHeaderTitle_textField__LXJ3X {
  width: 100%;
}
.PageHeaderTitle_textField_long__ReeJz {
  margin-block-end: 0.125rem;
}
.PageHeaderTitle_title__caKyB {
  color: var(--ym-controls-color-primary-text-enabled_variant);
  display: inline;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.PageHeaderTitle_version__g5BeO {
  color: var(--ym-controls-color-primary-text-enabled);
  display: inline;
}
.PageHeaderTitle_version_withOtherVersions__Amfwk {
  cursor: pointer;
}
.PageHeaderTitle_version_withOtherVersions__Amfwk:hover {
  color: var(--ym-controls-color-primary-text-hovered);
}
.PageHeaderTitle_heading__UADXi {
  color: var(--ym-controls-color-primary-text-enabled_variant);
  max-width: 100%;
  word-break: break-word;
}
.PageHeaderTitle_heading_withVersion__jw12r {
  color: var(--ym-controls-color-primary-text-enabled);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderTitle_heading__UADXi {
    text-align: center;
  }
}
.PageHeaderTitle_textFieldContainer__FSD_B {
  margin-block-end: var(--ym-spacer-size-xs);
}
.PageHeaderTitle_font_long__q9Leq {
  font-size: var(--ym-font-size-headline-l);
  line-height: var(--ym-font-line-height-headline-l);
}
.PageHeaderTitle_font_long__q9Leq,
.PageHeaderTitle_font_short__76VRG {
  font-family: var(--ym-font-heading);
  font-style: normal;
  font-weight: var(--ym-font-weight-bold);
  letter-spacing: normal;
}
.PageHeaderTitle_font_short__76VRG {
  font-size: var(--ym-font-size-headline-xxl);
  line-height: var(--ym-font-line-height-headline-xxl);
}
.PageHeaderTitle_font_mobile__M1__v {
  font-family: var(--ym-font-heading);
  font-size: var(--ym-font-size-headline-m);
  font-style: normal;
  font-weight: var(--ym-font-weight-bold);
  letter-spacing: normal;
  line-height: var(--ym-font-line-height-headline-m);
}
.PageHeaderTitle_stickyTitle__CL1m4 {
  width: -moz-fit-content;
  width: fit-content;
}
.PageHeaderShimmer_root__kqSwa {
  display: flex;
  gap: var(--ym-spacer-size-xxl);
  width: 100%;
}
@media only screen and (max-width: 1060px) {
  .PageHeaderShimmer_root__kqSwa {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderShimmer_root__kqSwa {
    align-items: center;
    gap: var(--ym-spacer-size-l);
  }
}
.PageHeaderShimmer_cover__ay2cr {
  aspect-ratio: 1;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 12.75rem;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderShimmer_cover__ay2cr {
    max-width: 10.5rem;
    width: 100%;
  }
}
.PageHeaderShimmer_content__SdBKK {
  display: flex;
  flex-direction: column;
  gap: var(--ym-spacer-size-xl);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderShimmer_content__SdBKK {
    padding: 0;
  }
  .PageHeaderShimmer_info__cZkS2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.PageHeaderShimmer_entityName__tlWnA {
  height: 0.5625rem;
  margin-block-end: 1.25rem;
  margin-block-start: 0.5rem;
  width: 4.625rem;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderShimmer_entityName__tlWnA {
    display: none;
  }
}
.PageHeaderShimmer_title__xKG4e {
  font-family: var(--ym-font-heading);
  height: 1.8125rem;
  margin-block-end: 1.25rem;
  max-width: 90%;
  width: 22.8125rem;
}
.PageHeaderShimmer_meta__YWx0m {
  height: 0.875rem;
  margin-block-end: var(--ym-spacer-size-xxl);
  width: 7.125rem;
}
.PageHeaderShimmer_controls__gPErM {
  display: flex;
  gap: var(--ym-spacer-size-m);
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderShimmer_controls__gPErM {
    justify-content: center;
    margin-block-start: var(--ym-spacer-size-xxl);
  }
}
.PageHeaderShimmer_desktopPlayButton__R7EmH {
  border-radius: var(--ym-radius-size-xxl);
  height: 2.5rem;
  width: 7rem;
}
.PageHeaderShimmer_button__13qrG {
  height: 2.5rem;
  width: 2.5rem;
}
.PageHeaderAlbumControls_menuControl__wlqyr {
  order: 5;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumControls_menuControl__wlqyr {
    order: 1;
  }
}
.PageHeaderAlbumControls_likeControl__eohAO {
  order: 3;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumControls_likeControl__eohAO {
    order: 3;
  }
}
.PageHeaderAlbumControls_pinOrDonationControl__3aFUW {
  order: 4;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumControls_pinOrDonationControl__3aFUW {
    display: none;
  }
}
.PageHeaderAlbumControls_trailerControl___HcW0 {
  order: 2;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumControls_trailerControl___HcW0 {
    display: none;
  }
}
.PageHeaderAlbumMeta_meta__zsMI8 {
  color: var(--ym-controls-color-primary-text-enabled);
  font-weight: var(--ym-font-weight-medium);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumMeta_meta__zsMI8 {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-xxs);
    justify-content: center;
  }
}
.PageHeaderAlbumMeta_artistCover__L3jJ0 {
  display: inline-flex;
  height: 1.25rem;
  inset-block-start: var(--ym-spacer-size-xxxs);
  margin-inline-end: var(--ym-spacer-size-xxs);
  position: relative;
  width: 1.25rem;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumMeta_artistCover__L3jJ0 {
    flex-grow: 0;
    flex-shrink: 0;
    inset-block-start: 0;
    margin-block-start: 0;
  }
}
.PageHeaderAlbumMeta_artistLabel__2WZSM,
.PageHeaderAlbumMeta_year__2X3NO {
  color: var(--ym-controls-color-primary-text-enabled);
  font-size: var(--ym-font-size-label-m);
  letter-spacing: var(--ym-letter-spacing-m);
  line-height: var(--ym-font-line-height-label-m);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbumMeta_artistLabel__2WZSM,
  .PageHeaderAlbumMeta_year__2X3NO {
    flex-shrink: 0;
  }
}
.PageHeaderAlbumMeta_artists__Nfdob {
  color: var(--ym-controls-color-primary-text-enabled);
}
@media only screen and (min-width: 768px) {
  .PageHeaderAlbumMeta_artists__Nfdob {
    display: contents;
  }
}
.PageHeaderAlbumMeta_artistsSpoiler__VOkfE {
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.PageHeaderAlbumMeta_artistLink__eTSrZ:focus
  .PageHeaderAlbumMeta_artistLabel__2WZSM,
.PageHeaderAlbumMeta_artistLink__eTSrZ:hover
  .PageHeaderAlbumMeta_artistLabel__2WZSM,
.PageHeaderAlbumMeta_artistsSpoiler__VOkfE:focus,
.PageHeaderAlbumMeta_artistsSpoiler__VOkfE:hover {
  color: var(--ym-controls-color-primary-text-hovered);
}
.PageHeaderAlbumMeta_year__2X3NO,
.PageHeaderAlbumMeta_year_dot__TrSFr:before {
  display: inline-block;
}
.PageHeaderAlbumMeta_year_dot__TrSFr:before {
  background-color: var(--ym-controls-color-primary-text-enabled);
  border-radius: var(--ym-radius-size-round);
  content: "";
  height: 0.25rem;
  margin-block-end: var(--ym-spacer-size-xxxs);
  margin-inline-end: var(--ym-spacer-size-m);
  margin-inline-start: var(--ym-spacer-size-m);
  width: 0.25rem;
}
.PageHeaderCover_coverImage__i0wBv {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}
.PageHeaderCover_coverImage_hoverable__9XZK7:hover {
  cursor: pointer;
}
.PageHeaderCover_coverButton__3zeub {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  width: 100%;
}
.PageHeaderCover_coverButton_hoverable__hS1Gq {
  transition: transform var(--ym-duration-transition) ease-in-out;
}
.PageHeaderCover_coverButton_hoverable__hS1Gq:focus-visible,
.PageHeaderCover_coverButton_hoverable__hS1Gq:hover {
  transform: scale(1.05);
}
@media (prefers-reduced-motion: reduce) {
  .PageHeaderCover_coverButton_hoverable__hS1Gq {
    transition: none;
  }
}
.PageHeaderCover_plusBadge__O09t4 {
  height: var(--ym-icon-size-xs);
  inset-block-end: var(--ym-spacer-size-xs);
  inset-inline-end: var(--ym-spacer-size-xs);
  position: absolute;
  width: var(--ym-icon-size-xs);
}
.CommonPageHeader_controlsContainer__4_h22 {
  align-items: center;
  column-gap: var(--ym-spacer-size-m);
  display: flex;
  row-gap: var(--ym-spacer-size-xxxl);
}
@media only screen and (max-width: 1060px) {
  .CommonPageHeader_controlsContainer__4_h22 {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767.98px) {
  .CommonPageHeader_controlsContainer__4_h22 {
    align-items: center;
  }
}
.CommonPageHeader_controls__c27E_ {
  align-items: center;
  column-gap: var(--ym-spacer-size-m);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  row-gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
  .CommonPageHeader_controls__c27E_ {
    column-gap: var(--ym-spacer-size-xl);
  }
}
.CommonPageHeader_playControl__gYOuR {
  order: 1;
}
@media only screen and (max-width: 767.98px) {
  .CommonPageHeader_playControl__gYOuR {
    background-color: var(--ym-controls-color-primary-on_default-enabled);
    color: var(--ym-controls-color-primary-default-enabled);
    order: 2;
  }
  .CommonPageHeader_playControl__gYOuR:not(:disabled):focus-visible,
  .CommonPageHeader_playControl__gYOuR:not(:disabled):hover {
    background-color: var(--ym-controls-color-primary-on_default-enabled);
    color: var(--ym-controls-color-primary-default-hovered);
  }
  .CommonPageHeader_playControl__gYOuR:not(:disabled):focus-visible {
    outline: none;
  }
  .CommonPageHeader_playControl__gYOuR:not(:disabled):focus-visible:not(
      :disabled
    ):focus-visible {
    box-shadow: 0 0 0 var(--ym-spacer-size-xxxs)
      var(--ym-controls-color-primary-default-focused_stroke);
  }
}
.PageHeaderAlbum_plusPaywallButton__yJWCh {
  order: 1;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderAlbum_plusPaywallButton__yJWCh {
    order: 2;
  }
}
.PageHeaderAlbum_booksLogo__f4gjV {
  height: 0.875rem;
  width: 6.25rem;
}
.PageHeaderArtist_root__QhL_a {
  container-name: artist-header;
  container-type: inline-size;
}
.PageHeaderArtist_playControl__N_3l_ {
  grid-area: play;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderArtist_playControl__N_3l_ {
    background-color: var(--ym-controls-color-primary-on_default-enabled);
    color: var(--ym-controls-color-primary-default-enabled);
  }
  .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible,
  .PageHeaderArtist_playControl__N_3l_:not(:disabled):hover {
    background-color: var(--ym-controls-color-primary-on_default-enabled);
    color: var(--ym-controls-color-primary-default-hovered);
  }
  .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible {
    outline: none;
  }
  .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible:not(
      :disabled
    ):focus-visible {
    box-shadow: 0 0 0 var(--ym-spacer-size-xxxs)
      var(--ym-controls-color-primary-default-focused_stroke);
  }
}
.PageHeaderArtist_trailerControl__BWQXJ {
  grid-area: trailer;
}
.PageHeaderArtist_likeControl__oEdXe {
  grid-area: like;
}
.PageHeaderArtist_menuControl__8qi0J {
  grid-area: menu;
}
.PageHeaderArtist_pinControl__dQToz {
  grid-area: pin;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderArtist_pinControl__dQToz {
    display: none;
  }
}
.PageHeaderArtist_controls__U_6g7 {
  align-items: center;
  display: grid;
  grid-column-gap: var(--ym-spacer-size-m);
  column-gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderArtist_controls__U_6g7 {
    column-gap: var(--ym-spacer-size-xl);
    row-gap: var(--ym-spacer-size-l);
  }
}
.PageHeaderArtist_main__VNnip {
  align-items: center;
  display: flex;
  gap: var(--ym-spacer-size-xl);
}
.PageHeaderArtist_brandedControl__b6qhV {
  background: var(
    --baranded-button-color-background,
    var(--ym-controls-color-secondary-default-enabled)
  );
  color: var(--ym-controls-color-secondary-on_default-hovered);
  grid-area: branded;
  line-height: var(--ym-font-line-height-label-m);
  padding-inline-end: var(--ym-spacer-size-xl);
  padding-inline-start: var(--ym-spacer-size-xl);
  transition: transform var(--ym-duration-transition);
}
.PageHeaderArtist_brandedControl__b6qhV:after {
  background: var(--ym-controls-color-secondary-on_default-hovered);
  content: "";
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  opacity: 0;
  position: absolute;
  transition: opacity var(--ym-duration-transition);
  width: 100%;
}
@media screen and (prefers-reduced-motion: reduce) {
  .PageHeaderArtist_brandedControl__b6qhV:after {
    transition: none;
  }
}
.PageHeaderArtist_brandedControl__b6qhV:focus-visible:after,
.PageHeaderArtist_brandedControl__b6qhV:hover:after {
  opacity: 0.1;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderArtist_brandedControl__b6qhV {
    width: 100%;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .PageHeaderArtist_brandedControl__b6qhV {
    transition: none;
  }
}
.PageHeaderArtist_meta__ZAlx_ {
  align-items: center;
  display: flex;
  gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderArtist_meta__ZAlx_ {
    flex-direction: column;
    justify-content: center;
  }
}
.PageHeaderArtist_label__rXyrB {
  align-items: center;
  background-color: var(--ym-controls-color-secondary-default-enabled);
  border-radius: var(--ym-radius-size-xxxl);
  color: var(--ym-controls-color-primary-text-enabled_variant);
  display: flex;
  gap: var(--ym-spacer-size-xxxs);
  padding-block-end: var(--ym-spacer-size-xxxs);
  padding-block-start: var(--ym-spacer-size-xxxs);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxxs);
}
.PageHeaderArtist_donationButtonTooltip__G7XtX {
  background-color: var(--ym-background-color-primary-enabled-tooltip);
  max-width: 18.75rem;
  padding: var(--ym-spacer-size-m);
  padding-inline-end: var(--ym-spacer-size-xxxxl);
  position: relative;
  z-index: 1;
}
.PageHeaderArtist_tooltipText__aYfaU {
  color: var(--ym-controls-color-secondary-text-enabled_variant);
}
.PageHeaderArtist_closeTooltip__z2w_O {
  inset-block-start: var(--ym-spacer-size-xs);
  inset-inline-end: var(--ym-spacer-size-xs);
  position: absolute;
}
.PageHeaderNonMusic_meta__9DQPy {
  display: flex;
  flex-direction: column;
  gap: var(--ym-spacer-size-xs);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderNonMusic_meta__9DQPy {
    gap: var(--ym-spacer-size-xxl);
  }
}
.PageHeaderNonMusic_infoNote__7xbV5 {
  align-items: center;
  display: flex;
  gap: var(--ym-spacer-size-xxs);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderNonMusic_infoNote__7xbV5 {
    border-block-end: 0.0625rem solid
      var(--ym-controls-color-secondary-default-disabled);
    border-block-start: 0.0625rem solid
      var(--ym-controls-color-secondary-default-disabled);
    flex-direction: column;
    padding-block-end: var(--ym-spacer-size-l);
    padding-block-start: var(--ym-spacer-size-l);
  }
}
.PageHeaderNonMusic_infoNoteIcon__VDK7_ {
  color: var(--ym-controls-color-primary-outline-selected_stroke);
}
.PageHeaderNonMusic_infoNoteText__DCQq8 {
  color: var(--ym-controls-color-primary-text-enabled);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderNonMusic_infoNoteText__DCQq8 {
    max-width: 12.5rem;
    text-align: center;
  }
}
.PageHeaderNonMusic_plusPaywallButton__O7Tx_ {
  order: 1;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderNonMusic_plusPaywallButton__O7Tx_ {
    order: 2;
  }
}
.PageHeaderNonMusic_booksLogo__4_TgU {
  height: 0.875rem;
  width: 6.25rem;
}
.DownloadButton_cancelIcon__MR36M {
  color: var(--ym-controls-color-primary-text-enabled);
}
.DownloadButton_root_downloading__H8Eh7 {
  padding-inline-end: var(--ym-spacer-size-m);
  padding-inline-start: var(--ym-spacer-size-s);
}
.DownloadButton_root__AU5eq:focus-visible .DownloadButton_cancelIcon__MR36M,
.DownloadButton_root__AU5eq:hover .DownloadButton_cancelIcon__MR36M {
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.DownloadButton_downloadingProgress__eenjt {
  height: var(--ym-icon-size-xxs);
  width: var(--ym-icon-size-xxs);
}
.DownloadButton_progress__MM72T {
  stroke: var(--ym-controls-color-primary-default-enabled);
}
.DownloadButton_progressText__aQ12B {
  margin-inline-start: var(--ym-spacer-size-xxs);
}
.DownloadButton_downloadedIcon__tETl2 {
  color: var(--ym-message-color-successful-text-enabled);
}
.PageHeaderPlaylist_root__yJBii {
  container-name: playlist-header;
  container-type: inline-size;
}
.PageHeaderPlaylist_trailerControl__grrD9 {
  background-color: var(
    --trailer-color,
    var(--ym-controls-color-secondary-default-enabled)
  );
  order: 2;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_trailerControl__grrD9 {
    display: none;
  }
}
.PageHeaderPlaylist_pinControl__hJOde {
  order: 4;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_pinControl__hJOde {
    display: none;
  }
}
.PageHeaderPlaylist_downloadControl__ijcAx {
  order: 6;
}
.PageHeaderPlaylist_menuControl__RGH0G {
  order: 5;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_menuControl__RGH0G {
    order: 1;
  }
}
.PageHeaderPlaylist_likeControl__bCypn {
  order: 3;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_likeControl__bCypn {
    order: 3;
  }
}
.PageHeaderPlaylist_controls__uSwwK {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .PageHeaderPlaylist_controls__uSwwK {
    justify-content: space-between;
    width: 100%;
  }
}
.PageHeaderPlaylist_mainControls__k_S_i {
  align-items: center;
  column-gap: var(--ym-spacer-size-m);
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_mainControls__k_S_i {
    column-gap: var(--ym-spacer-size-xl);
  }
}
.PageHeaderPlaylist_ugcControls__9q8Ne {
  flex-shrink: 0;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylist_ugcControls__9q8Ne {
    display: none;
  }
}
.PageHeaderPlaylistBrandingLink_root__7dQVL {
  align-items: center;
  background-color: var(--playlist-branding-button-background-color);
  border-radius: var(--ym-radius-size-xxxl);
  color: var(--playlist-branding-button-text-color);
  display: flex;
  height: 2.5rem;
  justify-content: center;
  order: 2;
  padding-inline-end: var(--ym-spacer-size-xxl);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
.PageHeaderPlaylistCover_root__Vdn75 {
  position: relative;
}
.PageHeaderPlaylistCover_root__Vdn75
  .PageHeaderPlaylistCover_coverButton__dw0rj {
  width: 100%;
}
.PageHeaderPlaylistCover_root__Vdn75
  .PageHeaderPlaylistCover_coverButton_hoverable__4Si4Y {
  transition: transform var(--ym-duration-transition) ease-in-out;
}
.PageHeaderPlaylistCover_root__Vdn75
  .PageHeaderPlaylistCover_coverButton_hoverable__4Si4Y:focus-visible {
  transform: scale(1.05);
}
@media (prefers-reduced-motion: reduce) {
  .PageHeaderPlaylistCover_root__Vdn75
    .PageHeaderPlaylistCover_coverButton_hoverable__4Si4Y {
    transition: none;
  }
}
.PageHeaderPlaylistCover_root__Vdn75:hover
  .PageHeaderPlaylistCover_coverButton_hoverable__4Si4Y {
  transform: scale(1.05);
}
.PageHeaderPlaylistCover_coverImage__OC58K {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
}
.PageHeaderPlaylistCover_backCoverColor__7z3dk {
  background-color: var(--cover-color);
  height: 100%;
  width: 100%;
}
.PageHeaderPlaylistCover_button__vCYgD {
  -webkit-backdrop-filter: initial;
  backdrop-filter: none;
  background-color: var(--ym-controls-color-secondary-card-enabled);
  color: var(--ym-controls-color-secondary-on_default-hovered);
  font-size: var(--ym-font-size-label-m);
  line-height: var(--ym-font-line-height-label-m);
  padding-inline-end: var(--ym-spacer-size-xl);
  padding-inline-start: var(--ym-spacer-size-xl);
}
.PageHeaderPlaylistCover_button__vCYgD:focus-visible,
.PageHeaderPlaylistCover_button__vCYgD:hover {
  background-color: var(--ym-controls-color-secondary-card-hovered);
}
.PageHeaderPlaylistCover_fileUploadContainer___JnqP {
  position: relative;
}
.PageHeaderPlaylistCover_fileUploadContainer_hovered__RtD_X {
  opacity: 0;
}
.PageHeaderPlaylistCover_fileUploadContainer___JnqP:hover
  .PageHeaderPlaylistCover_button__vCYgD {
  background-color: var(--ym-controls-color-secondary-card-hovered);
}
.PageHeaderPlaylistCover_buttonContainer__OkEaT {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-block-end: var(--ym-spacer-size-l);
  position: absolute;
  transition: background-color var(--ym-duration-transition);
  width: 100%;
}
.PageHeaderPlaylistCover_buttonContainer_withCursorPointer__pnzha {
  cursor: pointer;
}
.PageHeaderPlaylistCover_buttonContainer__OkEaT:hover
  .PageHeaderPlaylistCover_fileUploadContainer_hovered__RtD_X {
  opacity: 1;
}
.PageHeaderPlaylistCover_buttonContainer__OkEaT:has(:focus-visible)
  .PageHeaderPlaylistCover_fileUploadContainer_hovered__RtD_X {
  opacity: 1;
}
@supports not selector(:has(*)) {
  .PageHeaderPlaylistCover_buttonContainer__OkEaT:focus-within
    .PageHeaderPlaylistCover_fileUploadContainer_hovered__RtD_X {
    opacity: 1;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .PageHeaderPlaylistCover_buttonContainer__OkEaT {
    transition: none;
  }
}
.PageHeaderPlaylistCover_formFile__1xnry {
  display: none;
}
.PageHeaderPlaylistMeta_root__9SHZ0 {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylistMeta_root__9SHZ0 {
    text-align: center;
  }
}
.PageHeaderPlaylistMeta_description__edoVx {
  color: var(--ym-controls-color-primary-text-enabled_variant);
  white-space: pre-wrap;
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylistMeta_descriptionButton__Jkbg9 {
    align-self: center;
  }
}
.PageHeaderPlaylistMeta_descriptionLink__OcY5m {
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.PageHeaderPlaylistMeta_descriptionLink__OcY5m:focus,
.PageHeaderPlaylistMeta_descriptionLink__OcY5m:hover {
  color: var(--ym-controls-color-primary-text-hovered);
}
@media only screen and (max-width: 767.98px) {
  .PageHeaderPlaylistMeta_updatedText__FSo_0 {
    display: none;
  }
}
.PageHeaderPlaylistMeta_descriptionActionLink__aGgtK {
  margin-block-end: var(--ym-spacer-size-xs);
  width: -moz-fit-content;
  width: fit-content;
}
.PageHeaderPlaylistMeta_descriptionActionLink__aGgtK:focus,
.PageHeaderPlaylistMeta_descriptionActionLink__aGgtK:hover {
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.PageHeaderPlaylistMeta_addDescription__bFw2Y {
  margin: 0;
  margin-inline-start: var(--ym-spacer-size-xs);
}
.PageHeaderPlaylistMeta_textField__J5QMd {
  color: var(--ym-controls-color-primary-text-enabled_variant);
  font-family: var(--ym-font-text);
  font-size: var(--ym-font-size-label-m);
  font-weight: 500;
  line-height: var(--ym-font-line-height-label-m);
  max-height: 18.75rem;
  min-height: 7.5rem;
}
.PageHeaderPlaylistMeta_actionButtons__EYX8Z {
  display: flex;
  gap: var(--ym-spacer-size-xxl);
  margin-block-end: var(--ym-spacer-size-xxxl);
  margin-block-start: var(--ym-spacer-size-m);
}
.PageHeaderPlaylistMeta_saveButton__rZbPS {
  height: 2.5rem;
  padding-inline-end: var(--ym-spacer-size-xxl);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
.PageHeaderPlaylistMeta_cancelButton__Qc5lG:focus-visible,
.PageHeaderPlaylistMeta_cancelButton__Qc5lG:hover {
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.PageHeaderPlaylistUgcUploadButton_button__mWtCr {
  padding-inline-end: var(--ym-spacer-size-xxl);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
.PageHeaderPlaylistUgcUploadButton_form__V64Yu {
  display: none;
}
.PromoLandingPageHeaderAlbum_likeControl__iWuEF {
  order: 2;
}
@media only screen and (max-width: 767.98px) {
  .PromoLandingPageHeaderAlbum_likeControl__iWuEF {
    order: 1;
  }
}
