.ArtistClipsPage_root__3efVS {
    container-name: artist-clips-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
.ArtistClipsPage_scrollContainer___2pJZ.ArtistClipsPage_important__UBPcN {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .ArtistClipsPage_scrollContainer___2pJZ.ArtistClipsPage_important__UBPcN {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.ArtistClipsPage_footer__mhu_A {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistClipsPage_footer__mhu_A {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistClipsPage_footer__mhu_A {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistClipsPage_footer__mhu_A {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistClipsPage_item__fonRp {
    display: flex;
}
.ArtistClipsPage_content__GFs51 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: min-content;
    margin-block-start: var(--subpage-sticky-header-height);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@supports (-moz-appearance: none) {
    .ArtistClipsPage_content__GFs51 {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistClipsPage_content__GFs51 {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistClipsPage_content__GFs51 {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
@media only screen and (min-width: 960px) {
    .ArtistClipsPage_content__GFs51 {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1200px) {
    .ArtistClipsPage_content__GFs51 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media only screen and (min-width: 1920px) {
    .ArtistClipsPage_content__GFs51 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
.ArtistConcertsPage_root__DDTmb {
    padding: 0;
}
.ArtistConcertsPage_scrollableContainer__qrAF_ {
    height: calc(100% - var(--subpage-sticky-header-height));
    padding: 0;
}
.ArtistConcertsPage_container__ho6Fw {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-block-start: var(--subpage-sticky-header-height);
}
.ArtistConcertsPage_content__Ynto2 {
    padding-inline-end: var(--ym-spacer-size-xxxs);
    padding-inline-start: var(--ym-spacer-size-l);
}
@supports (-moz-appearance: none) {
    .ArtistConcertsPage_content__Ynto2 {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistConcertsPage_content__Ynto2 {
        padding-inline-start: var(--ym-spacer-size-xs);
    }
    @supports (-moz-appearance: none) {
        .ArtistConcertsPage_content__Ynto2 {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistConcertsPage_footer__kQL7m {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-xxxs);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistConcertsPage_footer__kQL7m {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistConcertsPage_footer__kQL7m {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistConcertsPage_footer__kQL7m {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistFamiliarPage_root__9Zjo0 {
    --artist-familiar-header-height: 9.25rem;
    height: 100%;
    width: 100%;
}
.ArtistFamiliarPageHeader_root__0Wxyx {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-l);
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
    position: absolute;
    scroll-padding-inline-start: var(--ym-spacer-size-xxl);
    z-index: var(--ym-z-index-header);
}
@supports (-moz-appearance: none) {
    .ArtistFamiliarPageHeader_root__0Wxyx {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageHeader_root__0Wxyx {
        padding-inline-start: var(--ym-spacer-size-l);
        scroll-padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistFamiliarPageHeader_root__0Wxyx {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistFamiliarPageHeader_container__HFQzt {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-l);
}
.ArtistFamiliarPageHeader_title__YpVQg {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.ArtistFamiliarPageHeader_tabs__CrnJC {
    width: 100%;
}
.ArtistFamiliarPageHeader_tab__RK4OK {
    flex-shrink: 0;
    height: 100%;
    list-style-type: none;
    max-width: -moz-fit-content;
    max-width: fit-content;
    scroll-snap-align: start;
}
.ArtistFamiliarPageHeader_tabsShimmer__cbLvV {
    display: flex;
    gap: var(--ym-spacer-size-xs);
}
.ArtistFamiliarPageHeader_tabShimmer__iLiqI {
    height: 1rem;
    margin-block-end: var(--ym-spacer-size-s);
    margin-block-start: var(--ym-spacer-size-s);
    margin-inline-end: var(--ym-spacer-size-xs);
    margin-inline-start: var(--ym-spacer-size-xs);
    width: 6.25rem;
}
.ArtistFamiliarPageHeader_staticHeader__LrzR8.ArtistFamiliarPageHeader_important__buc81 {
    display: none;
}
.ArtistFamiliarPageHeader_stickyHeader__u7JdF.ArtistFamiliarPageHeader_important__buc81 {
    height: auto;
}
.ArtistFamiliarPageContent_root__0Mc9t {
    height: 100%;
    padding: 0;
    position: relative;
}
.ArtistFamiliarPageContent_scrollContainer__TD6Kj.ArtistFamiliarPageContent_important__o2KTP {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0;
}
.ArtistFamiliarPageContent_content__QquDA {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxl);
    margin-block-start: var(--artist-familiar-header-height);
}
.ArtistFamiliarPageContent_block__Cr2H_ {
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
    scroll-padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistFamiliarPageContent_block__Cr2H_ {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageContent_block__Cr2H_ {
        padding-inline-start: var(--ym-spacer-size-l);
        scroll-padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistFamiliarPageContent_block__Cr2H_ {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistFamiliarPageContent_blockHeader__Z_uvq {
    padding-block-end: var(--ym-spacer-size-l);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageContent_blockHeader__Z_uvq {
        padding-block-end: var(--ym-spacer-size-xs);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistFamiliarPageContent_tracksBlock__SCCLT {
    padding-inline-start: var(--ym-spacer-size-l);
}
@supports (-moz-appearance: none) {
    .ArtistFamiliarPageContent_tracksBlock__SCCLT {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageContent_tracksBlock__SCCLT {
        padding-inline-start: var(--ym-spacer-size-xs);
    }
}
.ArtistFamiliarPageContent_footer__nveR8 {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistFamiliarPageContent_footer__nveR8 {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageContent_footer__nveR8 {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ArtistFamiliarPageContent_footer__nveR8 {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ArtistFamiliarPageContent_item__fyC2q {
    min-width: 8.75rem;
}
.ArtistFamiliarPageContent_shimmerTitle__WU3vH {
    height: 1.875rem;
    width: 9.375rem;
}
.ArtistFamiliarPageEmpty_root__s5xX9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--artist-familiar-header-height));
    justify-content: center;
    margin-block-start: var(--artist-familiar-header-height);
    padding: var(--ym-spacer-size-xxl);
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .ArtistFamiliarPageEmpty_root__s5xX9 {
        padding: var(--ym-spacer-size-l);
    }
}
.ArtistFamiliarPageEmpty_icon__b7kR5 {
    margin-block-end: var(--ym-spacer-size-xl);
}
.ArtistFamiliarPageEmpty_icon__b7kR5,
.ArtistFamiliarPageEmpty_title__wvBGS {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.ArtistFamiliarPageEmpty_title__wvBGS {
    text-align: center;
}
.OfflineArtistPage_root__u1qco.OfflineArtistPage_important__Kt9GU {
    padding: 0;
}
.OfflineArtistPage_header__PR4N7 {
    margin-block-start: calc(var(--header-height) + var(--ym-spacer-size-l));
    padding-block-end: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-xxxl);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .OfflineArtistPage_header__PR4N7 {
        padding-block-end: var(--ym-spacer-size-l);
        padding-inline-end: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.OfflineArtistPage_averageColorBackground__6WlL4 {
    background: linear-gradient(
        var(
                --average-color-background,
                var(--ym-background-color-secondary-enabled-blur)
            )
            0,
        transparent 100%
    );
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    max-height: calc(25rem - var(--header-height));
    opacity: 0;
    position: absolute;
    transition:
        opacity var(--ym-duration-transition),
        background-color var(--ym-duration-transition);
    width: 100%;
    z-index: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
    .OfflineArtistPage_averageColorBackground__6WlL4 {
        transition: none;
    }
}
@media only screen and (max-width: 767.98px) {
    .OfflineArtistPage_averageColorBackground__6WlL4 {
        margin-block-start: 0;
        max-height: 25rem;
    }
}
.OfflineArtistPage_content__Y71zx {
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-l);
}
@media only screen and (max-width: 767.98px) {
    .OfflineArtistPage_content__Y71zx {
        padding-inline-start: var(--ym-spacer-size-s);
    }
}
.OfflineArtistPage_footer__mB2rh {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxxl);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .OfflineArtistPage_footer__mB2rh {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .OfflineArtistPage_footer__mB2rh {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-xxl);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPage_root__QPg3p {
    --last-release-card-width: 12.5rem;
    padding: 0;
    position: relative;
}
.ArtistPage_averageColorBackground__wXTSY {
    background: linear-gradient(
        var(
                --average-color-background,
                var(--ym-background-color-secondary-enabled-blur)
            )
            0,
        transparent 100%
    );
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    max-height: calc(25rem - var(--header-height));
    opacity: 0;
    position: absolute;
    transition:
        opacity var(--ym-duration-transition),
        background-color var(--ym-duration-transition);
    width: 100%;
    z-index: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
    .ArtistPage_averageColorBackground__wXTSY {
        transition: none;
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPage_averageColorBackground__wXTSY {
        margin-block-start: 0;
        max-height: 25rem;
    }
}
.ArtistPage_header__tQnNe {
    margin-block-start: calc(var(--header-height) + var(--ym-spacer-size-l));
    padding-block-end: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-xxxl);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .ArtistPage_header__tQnNe {
        padding-block-end: var(--ym-spacer-size-l);
        padding-inline-end: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPage_content__iZHVN {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0;
}
.ArtistPage_footer__8m6P9 {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxxl);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistPage_footer__8m6P9 {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPage_footer__8m6P9 {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-xxl);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_panel__pT_94 {
    display: flex;
    gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 1060px) {
    .ArtistPageContent_panel__pT_94 {
        flex-direction: column;
    }
}
.ArtistPageContent_panelItem__AfA_r {
    width: calc(60% - var(--ym-spacer-size-m) / 2);
}
@media only screen and (max-width: 1060px) {
    .ArtistPageContent_panelItem__AfA_r {
        width: 100%;
    }
}
.ArtistPageContent_blockCoverContainer__LDl_I.ArtistPageContent_important__tPJqk {
    height: 100%;
    max-height: 4.625rem;
    max-width: 4.625rem;
    width: 100%;
}
.ArtistPageContent_recentsContainer__iw_AC {
    container-name: recents-block;
    container-type: inline-size;
}
.ArtistPageContent_recents__TkT7y {
    display: flex;
    gap: calc(var(--ym-spacer-size-xxxl) * 2);
    margin-block-end: var(--ym-spacer-size-xxl);
}
.ArtistPageContent_recents__TkT7y:empty {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1919.98px) {
    .ArtistPageContent_recents__TkT7y {
        gap: var(--ym-spacer-size-xxxxl);
    }
}
@media only screen and (max-width: 1059.98px) {
    .ArtistPageContent_recents__TkT7y {
        flex-direction: column;
        gap: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_recents__TkT7y {
        gap: var(--ym-spacer-size-l);
        margin-block-end: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_popularTracksBlock__M19rf {
    flex-grow: 1;
    max-width: 100%;
}
.ArtistPageContent_popularTracksBlock_withReleaseBlock__S1eO_ {
    max-width: 60%;
}
@media only screen and (max-width: 1059.98px) {
    .ArtistPageContent_popularTracksBlock_withReleaseBlock__S1eO_ {
        max-width: 100%;
        order: 2;
    }
}
.ArtistPageContent_carouselBlockHeader__LO9is,
.ArtistPageContent_popularTracksBlockHeader__yE3Z8,
.ArtistPageContent_releaseBlockHeader__OSBh1 {
    padding-block-end: var(--ym-spacer-size-l);
    padding-block-start: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_carouselBlockHeader__LO9is,
    .ArtistPageContent_popularTracksBlockHeader__yE3Z8,
    .ArtistPageContent_releaseBlockHeader__OSBh1 {
        padding-block-end: var(--ym-spacer-size-xs);
        padding-block-start: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_releaseBlockHeaderShimmer__07Uep {
    height: 1.25rem;
    margin-block-end: var(--ym-spacer-size-xl);
    margin-block-start: var(--ym-spacer-size-xl);
}
.ArtistPageContent_popularTracksBlockHeader__yE3Z8 {
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_popularTracksBlockHeader__yE3Z8 {
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_popularTracksBlockList__z02_G {
    padding-inline-start: var(--ym-spacer-size-l);
}
@supports (-moz-appearance: none) {
    .ArtistPageContent_popularTracksBlockList__z02_G {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_popularTracksBlockList__z02_G {
        padding-inline-start: var(--ym-spacer-size-xs);
    }
}
@media only screen and (max-width: 1059.98px) {
    .ArtistPageContent_releaseBlock__dmcUs {
        order: 1;
        padding-inline-start: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_releaseBlock__dmcUs {
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_releaseBlockCard__GeAp7.ArtistPageContent_important__tPJqk {
    max-width: var(--last-release-card-width);
    width: var(--last-release-card-width);
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_releaseBlockCard__GeAp7.ArtistPageContent_important__tPJqk {
        --last-release-card-width: 12.5rem;
    }
}
@media only screen and (max-width: 549.98px) {
    .ArtistPageContent_releaseBlockCard__GeAp7.ArtistPageContent_important__tPJqk {
        --last-release-card-width: 10rem;
    }
}
.ArtistPageContent_concertsBlock__o_vhY {
    padding-inline-start: var(--ym-spacer-size-l);
    scroll-padding-inline-start: var(--ym-spacer-size-l);
}
@supports (-moz-appearance: none) {
    .ArtistPageContent_concertsBlock__o_vhY {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_concertsBlock__o_vhY {
        padding-inline-start: var(--ym-spacer-size-xs);
        scroll-padding-inline-start: var(--ym-spacer-size-xs);
    }
}
.ArtistPageContent_carouselBlock__21pOp {
    padding-inline-start: var(--ym-spacer-size-xxl);
    scroll-padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ArtistPageContent_carouselBlock__21pOp {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
@media only screen and (max-width: 767.98px) {
    .ArtistPageContent_carouselBlock__21pOp {
        padding-inline-start: var(--ym-spacer-size-l);
        scroll-padding-inline-start: var(--ym-spacer-size-l);
    }
}
.ArtistPageContent_carouselBlocks__f1w09 {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxl);
}
.ArtistPageContent_carouselBlocks__f1w09:empty {
    padding: 0;
}
@media only screen and (max-width: 768px) {
    .ArtistPageContent_carouselBlocks__f1w09 {
        gap: var(--ym-spacer-size-l);
    }
}
@container recents-block (width < 600px) {
    .ArtistPageContent_recents__TkT7y {
        flex-direction: column;
        gap: var(--ym-spacer-size-xxl);
    }
    .ArtistPageContent_popularTracksBlock__M19rf {
        max-width: 100%;
        order: 2;
    }
    .ArtistPageContent_popularTracksBlock_withReleaseBlock__S1eO_ {
        max-width: 100%;
    }
    .ArtistPageContent_releaseBlock__dmcUs {
        order: 1;
        padding-inline-start: var(--ym-spacer-size-xxl);
    }
}
.ArtistPick_artistLink__uYvRX {
    color: var(--ym-controls-color-primary-text-enabled);
}
.ArtistPick_artistLink__uYvRX:focus-visible,
.ArtistPick_artistLink__uYvRX:hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.ArtistPick_artistsSpoiler__zP3T5 {
    color: var(--ym-controls-color-primary-text-enabled);
}
.ArtistPick_subTitle__vfdza {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-xxxs);
}
.ArtistPick_text__Oiceb {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.ArtistPick_coverContainer__epurf {
    flex-shrink: 0;
    height: 100%;
    max-height: 1rem;
    max-width: 1rem;
    width: 100%;
}
.ArtistPick_cover__KGKal {
    width: 100%;
}
