.OverviewBlock_message__f41Rq {
    hyphens: auto;
    max-width: 50rem;
}
.OverviewBlock_message__f41Rq,
.OverviewBlock_modal__Jxiv2 {
    height: auto;
    width: 100%;
}
.OverviewBlock_modal__Jxiv2 {
    display: flex;
    flex-direction: column;
    inset-block-end: var(--ym-spacer-size-l);
    inset-inline-end: var(--ym-spacer-size-l);
    max-height: calc(100% - var(--ym-spacer-size-l) * 2);
    max-width: 26.875rem;
    overflow: hidden;
}
@media only screen and (max-width: 767.98px) {
    .OverviewBlock_modal__Jxiv2 {
        border-end-end-radius: 0;
        border-end-start-radius: 0;
        inset-block-end: 0;
        max-height: 100%;
        max-width: 100%;
        position: fixed;
    }
    .OverviewBlock_modal__Jxiv2:before {
        background-color: var(--ym-controls-color-primary-text-enabled);
        border-radius: var(--ym-radius-size-xxxl);
        content: "";
        height: 0.25rem;
        inset-block-start: var(--ym-spacer-size-xs);
        inset-inline-start: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 2.8125rem;
    }
}
.OverviewBlock_modalHeader__nerV2 {
    margin-block-end: var(--ym-spacer-size-l);
    padding-block-end: var(--ym-spacer-size-xxxs);
    padding-block-start: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.OverviewBlock_modalHeader_withTitle__gjKhp {
    margin-block-end: var(--ym-spacer-size-xxxl);
}
.OverviewBlock_modalContent__fw4fH {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding-block-end: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
    transition: scrollbar-color 0.2s ease-in-out;
}
.OverviewBlock_modalContent__fw4fH::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.OverviewBlock_modalContent__fw4fH::-webkit-scrollbar {
    width: var(--ym-spacer-size-xxl);
}
@supports selector(scrollbar-width:auto) {
    .OverviewBlock_modalContent__fw4fH {
        scrollbar-color: var(--ym-surface-color-primary-enabled-entity)
            transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .OverviewBlock_modalContent__fw4fH::-webkit-scrollbar-thumb {
        background-color: var(--ym-controls-color-primary-default-disabled);
    }
    .OverviewBlock_modalContent__fw4fH::-webkit-scrollbar-thumb:hover {
        background-color: var(--ym-surface-color-primary-enabled-entity);
    }
}
@media (prefers-reduced-motion: reduce) {
    .OverviewBlock_modalContent__fw4fH {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .OverviewBlock_modalContent__fw4fH::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
    .OverviewBlock_modalContent__fw4fH::-webkit-scrollbar {
        width: var(--ym-spacer-size-m);
    }
}
.OverviewBlock_button__k7t4c {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.OverviewBlock_button__k7t4c:not(:disabled):focus-visible,
.OverviewBlock_button__k7t4c:not(:disabled):hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    text-decoration: underline;
}
.OverviewBlock_modalOverlay__1dp_D {
    background-color: transparent;
}
.PageHeaderArtist_root__QhL_a {
    container-name: artist-header;
    container-type: inline-size;
}
.PageHeaderArtist_playControl__N_3l_ {
    grid-area: play;
}
@media only screen and (max-width: 767.98px) {
    .PageHeaderArtist_playControl__N_3l_ {
        background-color: var(--ym-controls-color-primary-on_default-enabled);
        color: var(--ym-controls-color-primary-default-enabled);
    }
    .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible,
    .PageHeaderArtist_playControl__N_3l_:not(:disabled):hover {
        background-color: var(--ym-controls-color-primary-on_default-enabled);
        color: var(--ym-controls-color-primary-default-hovered);
    }
    .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible {
        outline: none;
    }
    .PageHeaderArtist_playControl__N_3l_:not(:disabled):focus-visible:not(
            :disabled
        ):focus-visible {
        box-shadow: 0 0 0 var(--ym-spacer-size-xxxs)
            var(--ym-controls-color-primary-default-focused_stroke);
    }
}
.PageHeaderArtist_trailerControl__BWQXJ {
    grid-area: trailer;
}
.PageHeaderArtist_likeControl__oEdXe {
    grid-area: like;
}
.PageHeaderArtist_menuControl__8qi0J {
    grid-area: menu;
}
.PageHeaderArtist_pinControl__dQToz {
    grid-area: pinOrDonate;
}
@media only screen and (max-width: 767.98px) {
    .PageHeaderArtist_pinControl__dQToz {
        display: none;
    }
}
.PageHeaderArtist_donateControl__EX63H {
    grid-area: pinOrDonate;
}
.PageHeaderArtist_controls__U_6g7 {
    align-items: center;
    display: grid;
    grid-column-gap: var(--ym-spacer-size-m);
    column-gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
    .PageHeaderArtist_controls__U_6g7 {
        align-items: flex-start;
        flex-direction: column;
    }
}
@media only screen and (max-width: 479.98px) {
    .PageHeaderArtist_controls__U_6g7 {
        column-gap: var(--ym-spacer-size-xxs);
    }
}
.PageHeaderArtist_main__VNnip {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-xl);
}
.PageHeaderArtist_brandedControl__b6qhV {
    background: var(
        --baranded-button-color-background,
        var(--ym-controls-color-secondary-default-enabled)
    );
    color: var(--ym-controls-color-secondary-on_default-hovered);
    grid-area: branded;
    line-height: var(--ym-font-line-height-label-m);
    padding-inline-end: var(--ym-spacer-size-xl);
    padding-inline-start: var(--ym-spacer-size-xl);
    transition: transform var(--ym-duration-transition);
}
.PageHeaderArtist_brandedControl__b6qhV:after {
    background: var(--ym-controls-color-secondary-on_default-hovered);
    content: "";
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    opacity: 0;
    position: absolute;
    transition: opacity var(--ym-duration-transition);
    width: 100%;
}
@media screen and (prefers-reduced-motion: reduce) {
    .PageHeaderArtist_brandedControl__b6qhV:after {
        transition: none;
    }
}
.PageHeaderArtist_brandedControl__b6qhV:focus-visible:after,
.PageHeaderArtist_brandedControl__b6qhV:hover:after {
    opacity: 0.1;
}
@media only screen and (max-width: 767.98px) {
    .PageHeaderArtist_brandedControl__b6qhV {
        width: 100%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .PageHeaderArtist_brandedControl__b6qhV {
        transition: none;
    }
}
.PageHeaderArtist_meta__ZAlx_ {
    align-items: center;
    display: flex;
    gap: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
    .PageHeaderArtist_meta__ZAlx_ {
        flex-direction: column;
        justify-content: center;
    }
}
.PageHeaderArtist_label__rXyrB {
    align-items: center;
    background-color: var(--ym-controls-color-secondary-default-enabled);
    border-radius: var(--ym-radius-size-xxxl);
    color: var(--ym-controls-color-primary-text-enabled_variant);
    display: flex;
    gap: var(--ym-spacer-size-xxxs);
    padding-block-end: var(--ym-spacer-size-xxxs);
    padding-block-start: var(--ym-spacer-size-xxxs);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxxs);
}
.PageHeaderArtist_donationButtonTooltip__G7XtX {
    background-color: var(--ym-background-color-primary-enabled-tooltip);
    max-width: 18.75rem;
    padding: var(--ym-spacer-size-m);
    padding-inline-end: var(--ym-spacer-size-xxxxl);
    position: relative;
    z-index: 1;
}
.PageHeaderArtist_tooltipText__aYfaU {
    color: var(--ym-controls-color-secondary-text-enabled_variant);
}
.PageHeaderArtist_closeTooltip__z2w_O {
    inset-block-start: var(--ym-spacer-size-xs);
    inset-inline-end: var(--ym-spacer-size-xs);
    position: absolute;
}
