.LastEpisodes_root__4JPKj {
  padding-block-end: var(--ym-spacer-size-l);
  padding-block-start: var(--ym-spacer-size-m);
  padding-inline-start: var(--ym-spacer-size-l);
}
@media only screen and (max-width: 767.98px) {
  .LastEpisodes_root__4JPKj {
    padding-block-end: var(--ym-spacer-size-xs);
    padding-block-start: var(--ym-spacer-size-l);
  }
}
.LastEpisodes_blockHeader__se7bd {
  padding-block-end: var(--ym-spacer-size-l);
  padding-inline-start: var(--ym-spacer-size-s);
}
.LastEpisodes_shimmerItem__Iirx5 {
  height: 3.5rem;
}
.RelatedContent_root__Dl1Nr:not(:last-child) {
  margin-block-end: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
  .RelatedContent_root__Dl1Nr:not(:last-child) {
    margin-block-end: var(--ym-spacer-size-l);
  }
}
.RelatedContent_carousel__pmv5c,
.RelatedContent_header__527S3 {
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
  .RelatedContent_carousel__pmv5c,
  .RelatedContent_header__527S3 {
    padding-inline-start: var(--ym-spacer-size-l);
  }
}
.RelatedContent_header__527S3 {
  padding-block-end: var(--ym-spacer-size-l);
  padding-block-start: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 768px) {
  .RelatedContent_header__527S3 {
    padding-block-end: var(--ym-spacer-size-xs);
    padding-block-start: var(--ym-spacer-size-l);
  }
}
.RelatedContent_carousel__pmv5c {
  scroll-padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
  .RelatedContent_carousel__pmv5c {
    scroll-padding-inline-start: var(--ym-spacer-size-l);
  }
}
.NonMusicContent_tabCarousel__EBHWC {
  flex-shrink: 0;
  padding-block-end: var(--ym-spacer-size-l);
  padding-inline-end: var(--ym-spacer-size-xxl);
  padding-inline-start: var(--ym-spacer-size-xxl);
  scroll-padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 1024px) {
  .NonMusicContent_tabCarousel__EBHWC {
    padding-inline-end: var(--ym-spacer-size-m);
  }
}
@media only screen and (max-width: 767.98px) {
  .NonMusicContent_tabCarousel__EBHWC {
    padding-inline-start: var(--ym-spacer-size-l);
    scroll-padding-inline-start: var(--ym-spacer-size-l);
  }
}
.NonMusicContent_tab__LIh_U {
  margin-block-start: var(--ym-spacer-size-xxxs);
  padding-block-end: var(--ym-spacer-size-s);
  padding-block-start: var(--ym-spacer-size-s);
}
.NonMusicContent_contentAbout__BMIP5:not(:empty) {
  padding-block-end: var(--ym-spacer-size-l);
  padding-inline-end: var(--ym-spacer-size-xxl);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 1024px) {
  .NonMusicContent_contentAbout__BMIP5:not(:empty) {
    padding-inline-end: var(--ym-spacer-size-m);
  }
}
@media only screen and (max-width: 767.98px) {
  .NonMusicContent_contentAbout__BMIP5:not(:empty) {
    padding-inline-start: var(--ym-spacer-size-l);
  }
}
.NonMusicContent_infoBlock__IyjXA {
  display: inline-block;
  padding-block-start: var(--ym-spacer-size-xs);
}
.NonMusicContent_infoTitle__Wf9EC {
  color: var(--ym-controls-color-primary-text-enabled);
  margin-inline-end: var(--ym-spacer-size-xxxs);
}
.NonMusicContent_lastEpisodes__Xa8Xp {
  margin-block-start: var(--ym-spacer-size-xs);
}
.NonMusicContent_rewindControl__7tncY {
  background: linear-gradient(90deg, #ff2b84, #ce0b25);
  color: var(--ym-controls-color-secondary-on_default-hovered);
  padding-inline-end: var(--ym-spacer-size-xl);
  padding-inline-start: var(--ym-spacer-size-xl);
  transition: transform var(--ym-duration-transition);
}
.NonMusicContent_rewindControl__7tncY:focus-visible,
.NonMusicContent_rewindControl__7tncY:hover {
  box-shadow: none;
  color: var(--ym-controls-color-secondary-on_default-hovered);
  transform: scale(1.02);
}
@media only screen and (max-width: 767.98px) {
  .NonMusicContent_rewindControl__7tncY {
    width: 100%;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .NonMusicContent_rewindControl__7tncY {
    transition: none;
  }
}
.NonMusicContent_label__9GlIS {
  padding-block-start: var(--ym-spacer-size-xs);
}
.PromoLandingAlbumPage_averageColorBackground__QcQaQ {
  margin-block-start: 0;
}
.PromoLandingAlbumPageContent_header__olZnY {
  margin-block-start: var(--ym-spacer-size-xxxl);
}
@media only screen and (min-width: 768.02px) {
  .PromoLandingAlbumPageContent_header__olZnY {
    padding-inline-end: 0;
  }
}
.PromoLandingAlbumPageContent_advert__V34EQ {
  height: 100%;
  margin-inline-end: auto;
  margin-inline-start: auto;
  width: 100%;
}
.PromoLandingAlbumPageContent_advert__V34EQ:not(:empty) {
  margin-block-end: var(--ym-spacer-size-xxxl);
}
.PromoLandingAlbumPageContent_footerContainer__QiHrX {
  justify-content: flex-end;
}
@media only screen and (max-width: 767.98px) {
  .PromoLandingAlbumPageContent_footerContainer__QiHrX {
    padding-inline-end: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-s);
  }
  .PromoLandingAlbumPageContent_footerContainer__QiHrX,
  .PromoLandingAlbumPageContent_footer__ICBBF {
    align-items: center;
  }
}
