.SliderControls_root__v_ofj {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--ym-spacer-size-l);
  inset-block-start: 50%;
  inset-inline-start: 100%;
  position: absolute;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 767.98px) {
  .SliderControls_root__v_ofj {
    display: none;
  }
}
.SliderControls_control__E3joM:disabled {
  border: 0.125rem solid var(--ym-controls-color-secondary-text-disabled);
  color: var(--ym-controls-color-secondary-text-disabled);
}
.SliderControls_control__E3joM:not(:disabled) {
  border: 0.125rem solid var(--ym-controls-color-secondary-text-enabled);
  color: var(--ym-controls-color-secondary-text-enabled);
}
.SliderControls_control__E3joM:not(:disabled):focus-visible,
.SliderControls_control__E3joM:not(:disabled):hover {
  border: 0.125rem solid var(--ym-controls-color-secondary-text-hovered);
  color: var(--ym-controls-color-secondary-text-hovered);
}
.SliderControls_top__HN5gZ {
  transform: rotate(180deg);
}
.Slide_root__x5JEM {
  aspect-ratio: 0.5;
  background-color: var(--ym-background-color-primary-enabled-content);
  margin: auto;
  max-height: calc(
    100dvh - var(--ym-spacer-size-l) * 2 - var(--ym-spacer-size-xxxl) * 2
  );
  min-height: 37.5rem;
  opacity: 0.5;
}
.Slide_root_isActive__CKUSv {
  aspect-ratio: 0.5625;
  opacity: 1;
}
@media only screen and (max-width: 767.98px) {
  .Slide_root__x5JEM {
    aspect-ratio: auto;
    height: calc(
      100dvh - var(--ym-spacer-size-l) * 2 - var(--ym-spacer-size-xxxl) * 2
    );
    max-width: 31.25rem;
    width: 100%;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .Slide_root__x5JEM {
    transition: none;
  }
}
.Slider_root__T7EOX {
  aspect-ratio: 0.5625;
  height: 100dvh;
  margin: auto;
  opacity: 0;
  position: relative;
  transform: scale(0);
  transition:
    opacity var(--ym-duration-transition),
    transform 1s;
}
.Slider_root_visible__b3Kqx {
  animation: Slider_fade__V7FGV 1s ease forwards;
  animation-delay: 0.2s;
}
@media screen and (prefers-reduced-motion: reduce) {
  .Slider_root_visible__b3Kqx {
    animation: Slider_fade__V7FGV 0s ease forwards;
  }
}
@media only screen and (max-width: 767.98px) {
  .Slider_root__T7EOX {
    aspect-ratio: auto;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  .Slider_root__T7EOX {
    transition: none;
  }
}
.Slider_container__tZ0VH {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
@keyframes Slider_fade__V7FGV {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.SlidesPage_root__URM_B {
  background-color: #000;
  height: 100vh;
  width: 100%;
}
.SlidesPage_header__pnBx9 {
  align-items: center;
  display: grid;
  grid-template: "slides-result volume-button desktop-back-button";
  grid-template-columns: 1fr auto auto;
  position: fixed;
  z-index: var(--ym-z-index-header);
  grid-gap: var(--ym-spacer-size-l);
  gap: var(--ym-spacer-size-l);
  inset-block-start: var(--ym-spacer-size-xxxl);
  padding-inline-end: var(--ym-spacer-size-xxxl);
  padding-inline-start: var(--ym-spacer-size-xxxl);
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_header__pnBx9 {
    gap: 0;
    grid-template: "mobile-back-button . slides-result";
    inset-block-start: var(--ym-spacer-size-m);
    justify-content: space-between;
    justify-items: end;
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
  }
}
.SlidesPage_slidesResult__neqIE {
  color: var(--ym-controls-color-secondary-text-enabled);
  display: flex;
  gap: var(--ym-spacer-size-xxxs);
  grid-area: slides-result;
  justify-content: flex-end;
  min-width: 5rem;
  padding-inline-end: var(--ym-spacer-size-xs);
  padding-inline-start: var(--ym-spacer-size-xs);
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_slidesResult__neqIE {
    min-width: 4.375rem;
  }
}
.SlidesPage_counterActiveItem__Y_K9I {
  color: var(--ym-controls-color-secondary-text-enabled_variant);
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_counterActiveItem__Y_K9I {
    color: var(
      --card-color-enabled_variant,
      var(--ym-controls-color-secondary-text-enabled_variant)
    );
  }
}
.SlidesPage_counterItem__3CqZW {
  color: var(--ym-controls-color-secondary-text-enabled);
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_counterItem__3CqZW {
    color: var(
      --card-color-enabled,
      var(--ym-controls-color-secondary-text-enabled)
    );
  }
}
.SlidesPage_button__s9V8y {
  color: var(--ym-controls-color-secondary-text-enabled);
}
.SlidesPage_button__s9V8y:focus-visible,
.SlidesPage_button__s9V8y:hover {
  color: var(--ym-controls-color-secondary-text-enabled_variant);
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_button__s9V8y {
    color: var(
      --card-color-enabled_variant,
      var(--ym-controls-color-secondary-text-enabled_variant)
    );
  }
  .SlidesPage_button__s9V8y:focus-visible,
  .SlidesPage_button__s9V8y:hover {
    color: var(
      --card-color-enabled_variant,
      var(--ym-controls-color-secondary-text-enabled_variant)
    );
  }
}
.SlidesPage_volumeButton__HfFCM {
  grid-area: volume-button;
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_volumeButton__HfFCM {
    display: none;
  }
}
.SlidesPage_desktopBackButton__ae1Uj {
  background-color: hsla(0, 0%, 100%, 0.08);
  grid-area: desktop-back-button;
}
.SlidesPage_desktopBackButton__ae1Uj:focus-visible,
.SlidesPage_desktopBackButton__ae1Uj:hover {
  background-color: hsla(0, 0%, 100%, 0.08);
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_desktopBackButton__ae1Uj {
    display: none;
  }
}
.SlidesPage_mobileBackButton__MwOgB {
  display: none;
  grid-area: mobile-back-button;
}
@media only screen and (max-width: 767.98px) {
  .SlidesPage_mobileBackButton__MwOgB {
    display: block;
  }
}
