.KidsEditorialAlbumsPage_root__7rHF8 {
  container-name: non-music-category-playlists-page;
  container-type: inline-size;
  height: 100%;
  padding: 0;
  position: relative;
}
.KidsEditorialAlbumsPage_scrollContainer__nQVlt.KidsEditorialAlbumsPage_important__hmmxn {
  height: 100%;
  padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialAlbumsPage_scrollContainer__nQVlt.KidsEditorialAlbumsPage_important__hmmxn {
    height: auto;
    padding-block-start: var(--subpage-sticky-header-height);
  }
}
.KidsEditorialAlbumsPage_footer__6rwU1 {
  padding-block-end: var(--ym-spacer-size-xxl);
  padding-block-start: var(--ym-spacer-size-xxxl);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
  .KidsEditorialAlbumsPage_footer__6rwU1 {
    padding-inline-end: var(--ym-spacer-size-xxl);
  }
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialAlbumsPage_footer__6rwU1 {
    padding-block-end: var(--ym-spacer-size-xxxl);
    padding-block-start: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
  }
  @supports (-moz-appearance: none) {
    .KidsEditorialAlbumsPage_footer__6rwU1 {
      padding-inline-end: var(--ym-spacer-size-l);
    }
  }
}
.KidsEditorialAlbumsPage_item__Wc243 {
  display: flex;
  min-width: 8.75rem;
}
.KidsEditorialAlbumsPage_content__u3zcW {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-start: var(--subpage-sticky-header-height);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxl);
  grid-gap: var(--ym-spacer-size-m);
  gap: var(--ym-spacer-size-m);
}
@supports (-moz-appearance: none) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    padding-inline-end: var(--ym-spacer-size-xxl);
  }
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    margin-block-start: 0;
    padding-inline-start: var(--ym-spacer-size-l);
  }
  @supports (-moz-appearance: none) {
    .KidsEditorialAlbumsPage_content__u3zcW {
      padding-inline-end: var(--ym-spacer-size-l);
    }
  }
}
@media only screen and (min-width: 360px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 500px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 890px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 960px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    gap: calc(var(--ym-spacer-size-m) * 2);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    --min-column-size: 10.75rem;
    grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
    grid-template-columns: repeat(
      2,
      minmax(var(--min-column-size), 1fr)
    ) !important;
  }
  @container non-music-category-playlists-page (width >= 618px) {
    .KidsEditorialAlbumsPage_content__u3zcW {
      grid-template-columns: repeat(
        3,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 815px) {
    .KidsEditorialAlbumsPage_content__u3zcW {
      grid-template-columns: repeat(
        4,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 1010px) {
    .KidsEditorialAlbumsPage_content__u3zcW {
      grid-template-columns: repeat(
        5,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 1206px) {
    .KidsEditorialAlbumsPage_content__u3zcW {
      grid-template-columns: repeat(
        6,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
}
@media only screen and (min-width: 1920px) {
  .KidsEditorialAlbumsPage_content__u3zcW {
    grid-template-columns: repeat(7, 1fr);
  }
}
.KidsEditorialPlaylistsPage_root__HeHqc {
  container-name: non-music-category-playlists-page;
  container-type: inline-size;
  height: 100%;
  padding: 0;
  position: relative;
}
.KidsEditorialPlaylistsPage_scrollContainer__Hy6HY.KidsEditorialPlaylistsPage_important__283cd {
  height: 100%;
  padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialPlaylistsPage_scrollContainer__Hy6HY.KidsEditorialPlaylistsPage_important__283cd {
    height: auto;
    padding-block-start: var(--subpage-sticky-header-height);
  }
}
.KidsEditorialPlaylistsPage_footer___UaP5 {
  padding-block-end: var(--ym-spacer-size-xxl);
  padding-block-start: var(--ym-spacer-size-xxxl);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
  .KidsEditorialPlaylistsPage_footer___UaP5 {
    padding-inline-end: var(--ym-spacer-size-xxl);
  }
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialPlaylistsPage_footer___UaP5 {
    padding-block-end: var(--ym-spacer-size-xxxl);
    padding-block-start: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
  }
  @supports (-moz-appearance: none) {
    .KidsEditorialPlaylistsPage_footer___UaP5 {
      padding-inline-end: var(--ym-spacer-size-l);
    }
  }
}
.KidsEditorialPlaylistsPage_item__0wBk2 {
  display: flex;
  min-width: 8.75rem;
}
.KidsEditorialPlaylistsPage_content__6wWkP {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-start: var(--subpage-sticky-header-height);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxl);
  grid-gap: var(--ym-spacer-size-m);
  gap: var(--ym-spacer-size-m);
}
@supports (-moz-appearance: none) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    padding-inline-end: var(--ym-spacer-size-xxl);
  }
}
@media only screen and (max-width: 767.98px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    margin-block-start: 0;
    padding-inline-start: var(--ym-spacer-size-l);
  }
  @supports (-moz-appearance: none) {
    .KidsEditorialPlaylistsPage_content__6wWkP {
      padding-inline-end: var(--ym-spacer-size-l);
    }
  }
}
@media only screen and (min-width: 360px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 500px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 890px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 960px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    gap: calc(var(--ym-spacer-size-m) * 2);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    --min-column-size: 10.75rem;
    grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
    grid-template-columns: repeat(
      2,
      minmax(var(--min-column-size), 1fr)
    ) !important;
  }
  @container non-music-category-playlists-page (width >= 618px) {
    .KidsEditorialPlaylistsPage_content__6wWkP {
      grid-template-columns: repeat(
        3,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 815px) {
    .KidsEditorialPlaylistsPage_content__6wWkP {
      grid-template-columns: repeat(
        4,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 1010px) {
    .KidsEditorialPlaylistsPage_content__6wWkP {
      grid-template-columns: repeat(
        5,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
  @container non-music-category-playlists-page (width >= 1206px) {
    .KidsEditorialPlaylistsPage_content__6wWkP {
      grid-template-columns: repeat(
        6,
        minmax(var(--min-column-size), 1fr)
      ) !important;
    }
  }
}
@media only screen and (min-width: 1920px) {
  .KidsEditorialPlaylistsPage_content__6wWkP {
    grid-template-columns: repeat(7, 1fr);
  }
}
