.VibeContext_root__dbiNv {
  gap: var(--ym-spacer-size-l);
  justify-content: center;
}
.VibeContext_context__Z_82k,
.VibeContext_root__dbiNv {
  align-items: center;
  display: flex;
}
.VibeContext_context__Z_82k {
  -webkit-backdrop-filter: blur(3.125rem);
  backdrop-filter: blur(3.125rem);
  background-color: var(--ym-controls-color-secondary-default-enabled);
  border-radius: var(--ym-radius-size-xxxl);
  color: var(--ym-controls-color-secondary-on_default-enabled);
  gap: var(--ym-spacer-size-xxxs);
  max-width: 100%;
  padding-block-end: 0.875rem;
  padding-block-start: 0.875rem;
  padding-inline-end: var(--ym-spacer-size-l);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 379.98px) {
  .VibeContext_context__Z_82k {
    max-width: 80%;
  }
}
.VibeContext_pinButton__b6SNF {
  -webkit-backdrop-filter: blur(3.125rem);
  backdrop-filter: blur(3.125rem);
  flex-shrink: 0;
}
.VibeContext_resetButton__9KK4S {
  color: var(--ym-controls-color-primary-text-enabled);
  flex-shrink: 0;
  outline: none;
}
.VibeContext_resetButton__9KK4S:not(:disabled):focus-visible,
.VibeContext_resetButton__9KK4S:not(:disabled):hover {
  box-shadow: none;
  color: var(--ym-controls-color-primary-text-enabled_variant);
}
.MainPage_content__kskSM,
.MainPage_root__STXqc {
  padding: 0;
}
.MainPage_content__kskSM {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.MainPage_container__CB86l {
  flex-grow: 1;
}
.MainPage_vibe__XEBbh {
  height: 56vh;
  min-height: 31.25rem;
}
.MainPage_landing___FGNm,
.MainPage_vibe__XEBbh {
  position: relative;
}
.MainPage_landing___FGNm {
  display: flex;
  flex-direction: column;
  gap: var(--ym-spacer-size-xxl);
  z-index: 1;
}
@media only screen and (max-width: 767.98px) {
  .MainPage_landing___FGNm {
    gap: var(--ym-spacer-size-l);
  }
}
.MainPage_beta__y32vb {
  -webkit-backdrop-filter: saturate(180%) blur(0.9375rem);
  backdrop-filter: saturate(180%) blur(0.9375rem);
  background-color: var(--ym-controls-color-secondary-default-enabled);
  border-radius: var(--ym-radius-size-xl);
  color: var(--ym-controls-color-primary-text-enabled);
  cursor: default;
  inset-block-start: var(--ym-spacer-size-m);
  inset-inline-start: var(--ym-spacer-size-m);
  padding-block-end: var(--ym-spacer-size-xxxs);
  padding-block-start: var(--ym-spacer-size-xxxs);
  padding-inline-end: var(--ym-spacer-size-xs);
  padding-inline-start: var(--ym-spacer-size-xs);
  position: absolute;
  z-index: var(--ym-z-index-header);
}
.MainPage_beta_withReleaseNotes__WOjUk {
  cursor: pointer;
}
.MainPage_footer__2rGy2 {
  padding-block-end: var(--ym-spacer-size-xxl);
  padding-block-start: var(--ym-spacer-size-xxxl);
  padding-inline-end: var(--ym-spacer-size-s);
  padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
  .MainPage_footer__2rGy2 {
    padding-inline-end: var(--ym-spacer-size-l);
  }
}
@media only screen and (max-width: 767.98px) {
  .MainPage_footer__2rGy2 {
    padding-block-end: var(--ym-spacer-size-xxxl);
    padding-inline-start: var(--ym-spacer-size-l);
  }
}
.MainPage_error__u_UCm {
  height: auto;
}
@media only screen and (max-width: 767.98px) {
  .MainPage_error__u_UCm {
    margin-block-end: var(--ym-spacer-size-xxxxl);
  }
}
