.WelcomePage_root__JK3Pb {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-l);
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.WelcomePage_image__7_fpW,
.WelcomePage_root__JK3Pb {
    overflow: hidden;
    width: 100%;
}
.WelcomePage_image__7_fpW {
    height: 100vh;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}
@media (prefers-reduced-motion: reduce) {
    .WelcomePage_image__7_fpW {
        transition: none;
    }
}
.WelcomePage_loginButton__AJHcG {
    min-width: 7.5rem;
}
.WelcomePage_loginButton__AJHcG:focus-visible
    ~ .WelcomePage_secondBackground__55zFI,
.WelcomePage_loginButton__AJHcG:hover ~ .WelcomePage_secondBackground__55zFI {
    opacity: 1;
}
.WelcomePage_offerButton__MRs_g {
    margin-block-start: var(--ym-spacer-size-l);
}
.WelcomePage_offerButton__MRs_g.WelcomePage_offerButton_important__0wf60 {
    font-family: var(--ym-font-text);
    font-size: var(--ym-font-size-label-l);
    font-style: normal;
    font-weight: var(--ym-font-weight-medium);
    letter-spacing: var(--ym-letter-spacing-l);
    line-height: var(--ym-font-line-height-label-l);
    padding-inline-end: var(--ym-spacer-size-xxxl);
    padding-inline-start: var(--ym-spacer-size-xxxl);
}
.WelcomePage_text__A4aXp {
    color: var(--ym-controls-color-secondary-text-enabled_variant);
}
.WelcomePage_offerText__ZvXKN,
.WelcomePage_text__A4aXp {
    text-align: center;
}
.WelcomePage_offerText__ZvXKN {
    color: var(--ym-controls-color-secondary-text-enabled);
}
.WelcomePage_logoContainer__72W3y {
    inset-block-start: var(--ym-spacer-size-xl);
    inset-inline-start: 50%;
    position: fixed;
    transform: translateX(-50%);
}
.WelcomePage_logo__oMU8g {
    color: var(--ym-logo-color-primary-variant);
}
.WelcomePage_user__WNc4W {
    inset-block-end: var(--ym-spacer-size-xxxxl);
    inset-inline-start: var(--ym-spacer-size-xxxxl);
    position: fixed;
}
.WelcomePage_username__yXGsn.WelcomePage_important__MJxEk {
    color: var(--ym-controls-color-secondary-text-enabled_variant);
}
.BlockPage_root__crGK_ {
    align-items: center;
    background:
        radial-gradient(
            circle farthest-corner at 50% 0,
            rgba(221, 85, 255, 0.08) 0,
            transparent 50%,
            transparent 100%
        ),
        linear-gradient(
            0deg,
            hsla(0, 0%, 78%, 0.04) 0,
            transparent 17%,
            transparent 100%
        ),
        var(--ym-background-color-primary-enabled-content);
    display: flex;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_root__crGK_ {
        background:
            linear-gradient(
                0deg,
                transparent 0,
                transparent 14%,
                rgba(221, 85, 255, 0.06) 100%
            ),
            var(--ym-background-color-primary-enabled-content);
    }
}
.BlockPage_container__my_l0 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 66.25rem;
    padding-inline-end: 2rem;
    padding-inline-start: 2rem;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_container__my_l0 {
        flex-direction: column-reverse;
        margin-block-end: 4.6875rem;
    }
}
.BlockPage_content__4nK4D {
    display: block;
    margin-inline-end: 0.9375rem;
    margin-inline-start: 0.9375rem;
    max-width: 25rem;
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_content__4nK4D {
        margin-block-start: 4.0625rem;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
}
.BlockPage_title__sAejV {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_title__sAejV {
        line-height: var(--ym-font-line-height-headline-l) !important;
    }
}
.BlockPage_button__KoFZX {
    margin-block-start: 3.125rem;
    max-width: 17.5rem;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_button__KoFZX {
        margin-block-start: 1.875rem;
        max-width: none;
    }
}
.BlockPage_image__C02Db {
    background: 50%/100% auto no-repeat
        url(/_next/static/media/logo.060eb96c.webp);
    display: block;
    height: 25rem;
    margin-inline-end: 3.75rem;
    margin-inline-start: 1.25rem;
    max-width: 25rem;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .BlockPage_image__C02Db {
        height: 10rem;
        margin: 0;
        max-width: 10rem;
    }
}
.Paywall_root__XE_NC {
    --background-color-primary: #000;
    --background-color-secondary: #141414;
    --text-color-primary: #ffffffe5;
    --text-color-secondary: #ffffff80;
    --text-color-accent: #ffdd60;
    --content-max-width: 82.5rem;
    --content-inline-padding: var(--ym-spacer-size-xxxxl);
    background-color: #000;
    background-color: var(--background-color-primary);
    color: #ffffffe5;
    color: var(--text-color-primary);
    white-space: pre-line;
}
.Paywall_section__Y30nd {
    padding-block-end: calc(
        var(--ym-spacer-size-xxxxl) + var(--ym-spacer-size-xxxl)
    );
    padding-block-start: var(--ym-spacer-size-xxxxl);
}
.Paywall_section__Y30nd:has(+ .Paywall_section_faq__43qaB) {
    padding-block-end: var(--ym-spacer-size-l);
}
@media only screen and (max-width: 768px) {
    .Paywall_section__Y30nd {
        margin-inline-end: 0;
        margin-inline-start: 0;
        padding-block-end: var(--ym-spacer-size-xs);
        padding-block-start: var(--ym-spacer-size-xs);
    }
}
.Paywall_overlayScroll_desktop__P46WF {
    --scrollbar-overlay-main-axis-margin: var(--ym-spacer-size-xxxxl);
}
.PaywallBY_root__XMtUB {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-l);
}
.MainCardDesktop_root__qa00U {
    background-color: var(--background-color-secondary);
    border-radius: var(--ym-radius-size-xxl);
    display: flex;
    gap: var(--ym-spacer-size-l);
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.MainCardDesktop_root__qa00U:after {
    background: linear-gradient(0deg, #0f0f0f, hsla(0, 0%, 6%, 0) 100%);
    content: "";
    height: 5.125rem;
    inset-block-end: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
}
.MainCardDesktop_root_horizontal__Fy_E0 .MainCardDesktop_textContainer__mzWGu {
    margin-block-start: var(--ym-spacer-size-xxxxl);
    margin-inline-start: var(--ym-spacer-size-xxxxl);
}
.MainCardDesktop_root_horizontal__Fy_E0 .MainCardDesktop_imageContainer__81MQy {
    align-items: flex-end;
    display: flex;
    flex: 0 0 25rem;
    min-height: 23.9375rem;
}
.MainCardDesktop_root_horizontal__Fy_E0 .MainCardDesktop_image__nUJz3 {
    height: 100%;
    width: 100%;
}
.MainCardDesktop_root_vertical__KGeJ2 {
    flex-direction: column;
}
.MainCardDesktop_root_vertical__KGeJ2 .MainCardDesktop_textContainer__mzWGu {
    margin-block-start: var(--ym-spacer-size-xxxxl);
    margin-inline-end: var(--ym-spacer-size-xxxl);
    margin-inline-start: var(--ym-spacer-size-xxxl);
    min-height: 7.0625rem;
}
.MainCardDesktop_root_vertical__KGeJ2 .MainCardDesktop_imageContainer__81MQy {
    min-height: 13.875rem;
}
.MainCardDesktop_root_vertical__KGeJ2
    .MainCardDesktop_imageContainer_align_center__kEU_O {
    align-self: center;
}
.MainCardDesktop_root_vertical__KGeJ2
    .MainCardDesktop_imageContainer_align_right__T12Qo {
    align-self: flex-end;
}
.MainCardDesktop_text__omw7l {
    line-height: var(--ym-font-line-height-headline-l);
}
.MainSectionDesktop_root__MjgTL {
    display: flex;
    flex-direction: column;
    max-width: var(--content-max-width);
    width: 100%;
}
.MainSectionDesktop_headingContainer__IaoRT {
    display: flex;
    justify-content: center;
    margin-block-end: var(--ym-spacer-size-xxxxl);
    text-align: center;
}
.MainSectionDesktop_contentContainer__L4OlR {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: var(--ym-spacer-size-xl);
    gap: var(--ym-spacer-size-xl);
}
@media only screen and (min-width: 1280px) {
    .KinopoiskSectionDesktop_content_ru__gILD5 {
        grid-template-areas: "card_1 card_1 card_2 card_2 card_2" "card_3 card_3 card_3 card_4 card_4";
    }
    .KinopoiskSectionDesktop_content_by__31QvZ {
        grid-template-areas: "card_1 card_1 card_2 card_2 card_2" "card_1 card_1 card_4 card_4 card_4";
    }
    .KinopoiskSectionDesktop_card1__nlqOH {
        grid-area: card_1;
    }
    .KinopoiskSectionDesktop_card2__ZMW4Z {
        grid-area: card_2;
    }
    .KinopoiskSectionDesktop_card3__n9_1i {
        grid-area: card_3;
    }
    .KinopoiskSectionDesktop_card4__TpOZ7 {
        grid-area: card_4;
    }
}
.KinopoiskSectionDesktop_logo_ru__f6OLB {
    height: 3rem;
    width: 21.9375rem;
}
.KinopoiskSectionDesktop_logo_en__2oXnD {
    height: 3rem;
    width: 18.375rem;
}
.MoreInfoLink_root___TgXc {
    align-items: center;
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: column;
    margin-block-start: var(--ym-spacer-size-l);
    text-decoration: none;
}
.MoreInfoLink_content__Rjqj_ {
    margin-block-end: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 1280px) {
    .MusicSectionDesktop_content__uCWAp {
        grid-template-areas: "card_1 card_1 card_2 card_2 card_2" "card_1 card_1 card_3 card_3 card_3" "card_4 card_4 card_4 card_5 card_5";
    }
    .MusicSectionDesktop_card__YurZs:first-of-type {
        grid-area: card_1;
    }
    .MusicSectionDesktop_card__YurZs:nth-of-type(2) {
        grid-area: card_2;
    }
    .MusicSectionDesktop_card__YurZs:nth-of-type(3) {
        grid-area: card_3;
    }
    .MusicSectionDesktop_card__YurZs:nth-of-type(4) {
        grid-area: card_4;
    }
    .MusicSectionDesktop_card__YurZs:nth-of-type(5) {
        grid-area: card_5;
    }
}
.MusicSectionDesktop_logo_ru__Tiwfx {
    height: 3rem;
    width: 25.125rem;
}
.MusicSectionDesktop_logo_en__dbYCi {
    height: 3rem;
    width: 21.375rem;
}
@media only screen and (min-width: 1280px) {
    .PlusSectionDesktop_content_ru__85q1P {
        grid-template-areas: "card_1 card_1 card_1 card_2 card_2" "card_3 card_3 card_4 card_4 card_4";
    }
    .PlusSectionDesktop_content_by__UBg10 {
        grid-template-areas: "card_1 card_1 card_1 card_2 card_2";
    }
    .PlusSectionDesktop_card__h8LmR:first-of-type {
        grid-area: card_1;
    }
    .PlusSectionDesktop_card__h8LmR:nth-of-type(2) {
        grid-area: card_2;
    }
    .PlusSectionDesktop_card__h8LmR:nth-of-type(3) {
        grid-area: card_3;
    }
    .PlusSectionDesktop_card__h8LmR:nth-of-type(4) {
        grid-area: card_4;
    }
}
.PlusSectionDesktop_logo_ru__G2AkZ {
    height: 3rem;
    width: 20.375rem;
}
.PlusSectionDesktop_logo_en__gn4qE {
    height: 3rem;
    width: 19.1875rem;
}
