.AboutAppModal_root__yBvgU {
    height: 100%;
    max-height: 35.438rem;
    max-width: 26.875rem;
    overflow: hidden;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .AboutAppModal_root__yBvgU {
        position: fixed;
    }
}
.AboutAppModal_modalHeader__q1NPj {
    padding-block-end: var(--ym-spacer-size-xxxl);
    padding-block-start: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.AboutAppModal_modalContent__SHO_X {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-block-end: var(--ym-spacer-size-m);
    scrollbar-width: none;
    transition: scrollbar-color 0.2s ease-in-out;
    --scrollbar-hidden: transparent;
}
.AboutAppModal_modalContent__SHO_X::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.AboutAppModal_modalContent__SHO_X::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}
@supports selector(scrollbar-width:auto) {
    .AboutAppModal_modalContent__SHO_X {
        scrollbar-color: var(--scrollbar-hidden) transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .AboutAppModal_modalContent__SHO_X::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-hidden);
    }
}
@media (prefers-reduced-motion: reduce) {
    .AboutAppModal_modalContent__SHO_X {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .AboutAppModal_modalContent__SHO_X::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
}
.AboutAppModal_list__HfB82 {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxl);
    list-style: none;
    margin-block-end: var(--ym-spacer-size-xxl);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.AboutAppModal_link__i3P3P {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.AboutAppModal_link__i3P3P:focus-visible,
.AboutAppModal_link__i3P3P:hover {
    color: var(--ym-controls-color-primary-text-hovered);
}
.AboutAppModal_explicitText__29HUD {
    border-block-end: 0.0625rem solid var(--ym-outline-color-primary-disabled);
    border-block-start: 0.0625rem solid var(--ym-outline-color-primary-disabled);
    padding-block-end: var(--ym-spacer-size-l);
    padding-block-start: var(--ym-spacer-size-l);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
    text-align: center;
}
.AboutAppModal_companyText__yroW0 {
    margin-block-start: var(--ym-spacer-size-l);
    text-align: center;
}
.AboutAppModal_versionText__iFb8L {
    margin-block-start: var(--ym-spacer-size-xs);
    text-align: center;
}
.ClearMemoryModal_root__gKdij {
    max-width: 26.875rem;
    overflow: hidden;
    width: 100%;
}
.ClearMemoryModal_modalHeader__veasf {
    padding-block-start: var(--ym-spacer-size-xl);
}
.ClearMemoryModal_modalContent__b7yHr,
.ClearMemoryModal_modalHeader__veasf {
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.ClearMemoryModal_modalContent__b7yHr {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxl);
    padding-block-end: var(--ym-spacer-size-xxxxl);
}
.ClearMemoryModal_image__evvTq {
    height: 10.625rem;
    width: 10.625rem;
}
.ClearMemoryModal_description__ue94L {
    text-align: center;
}
.ClearMemoryModal_description__ue94L,
.ClearMemoryModal_message__mYQpM {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.SettingsListButtonItem_icon__WULZ1 {
    color: var(--ym-controls-color-primary-text-enabled);
    transition: transform var(--ym-duration-transition);
}
@media (prefers-reduced-motion: reduce) {
    .SettingsListButtonItem_icon__WULZ1 {
        transition: none;
    }
}
.SettingsListButtonItem_root__3dtV2.SettingsListButtonItem_important__AcEon {
    padding-block-end: var(--ym-spacer-size-xxxs);
    padding-block-start: var(--ym-spacer-size-xxxs);
    padding-inline-end: 0;
    padding-inline-start: 0;
}
.SettingsListButtonItem_root__3dtV2.SettingsListButtonItem_important__AcEon:focus-visible,
.SettingsListButtonItem_root__3dtV2.SettingsListButtonItem_important__AcEon:hover {
    box-shadow: none;
}
.SettingsListButtonItem_root__3dtV2.SettingsListButtonItem_important__AcEon:focus-visible
    .SettingsListButtonItem_icon__WULZ1,
.SettingsListButtonItem_root__3dtV2.SettingsListButtonItem_important__AcEon:hover
    .SettingsListButtonItem_icon__WULZ1 {
    transform: translateX(var(--ym-spacer-size-xxs));
}
.SettingsListButtonItem_contentContainer__jqoKg {
    display: flex;
    gap: var(--ym-spacer-size-xs);
    justify-content: space-between;
}
.SettingsListButtonItem_content___Opuo {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxs);
    text-align: start;
}
.SettingsListButtonItem_title__npCza {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.SettingsListButtonItem_description__g8_Ba,
.SettingsListLinkItem_icon__p4P_V {
    color: var(--ym-controls-color-primary-text-enabled);
}
.SettingsListLinkItem_icon__p4P_V {
    transition: transform var(--ym-duration-transition);
}
@media (prefers-reduced-motion: reduce) {
    .SettingsListLinkItem_icon__p4P_V {
        transition: none;
    }
}
.SettingsListLinkItem_root__rTPC9:focus-visible
    .SettingsListLinkItem_icon__p4P_V,
.SettingsListLinkItem_root__rTPC9:hover .SettingsListLinkItem_icon__p4P_V {
    transform: translateX(var(--ym-spacer-size-xs));
}
.SettingsListLinkItem_container__k7bhS {
    gap: var(--ym-spacer-size-xs);
}
.SettingsListLinkItem_container__k7bhS,
.SettingsListLinkItem_linkText__0PHlQ {
    display: flex;
    justify-content: space-between;
}
.SettingsListLinkItem_linkText__0PHlQ {
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxs);
}
.SettingsListLinkItem_title__duJnL {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.SettingsListLinkItem_description__xWeAD {
    color: var(--ym-controls-color-primary-text-enabled);
}
.SettingsListToggleItem_root__yEEYT {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block-end: var(--ym-spacer-size-xxxs);
    padding-block-start: var(--ym-spacer-size-xxxs);
}
.SettingsListToggleItem_textContainer__tRjyt {
    display: flex;
    flex-direction: column;
}
.SettingsListToggleItem_title__Xz8_Q {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    transition: color var(--ym-duration-transition);
}
.SettingsListToggleItem_description__JBOzV {
    color: var(--ym-controls-color-primary-text-enabled);
    transition: color var(--ym-duration-transition);
}
.SettingsListToggleItem_title__Xz8_Q_disabled {
    color: var(--ym-controls-color-primary-text-disabled);
    transition: color var(--ym-duration-transition);
}
.SettingsListToggleItem_description__JBOzV_disabled {
    color: var(--ym-controls-color-primary-text-disabled);
    transition: color var(--ym-duration-transition);
}
.ShortcutsModal_root__ro7m4 {
    height: 100%;
    max-height: 35.625rem;
    max-width: 26.875rem;
    width: 100%;
}
@media only screen and (max-width: 767.98px) {
    .ShortcutsModal_root__ro7m4 {
        position: fixed;
    }
}
.ShortcutsModal_modalHeader__IYJ9m {
    padding-block-end: var(--ym-spacer-size-xxxl);
    padding-block-start: var(--ym-spacer-size-xl);
}
.ShortcutsModal_modalContent__SCpYX,
.ShortcutsModal_modalHeader__IYJ9m {
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.ShortcutsModal_modalContent__SCpYX {
    overflow: hidden;
    padding-block-end: var(--ym-spacer-size-xxl);
}
.ShortcutsModal_list__eS4ox,
.ShortcutsModal_modalContent__SCpYX {
    display: flex;
    flex-direction: column;
}
.ShortcutsModal_list__eS4ox {
    gap: var(--ym-spacer-size-m);
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: scrollbar-color 0.2s ease-in-out;
    --scrollbar-hidden: transparent;
}
.ShortcutsModal_list__eS4ox::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.ShortcutsModal_list__eS4ox::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}
@supports selector(scrollbar-width:auto) {
    .ShortcutsModal_list__eS4ox {
        scrollbar-color: var(--scrollbar-hidden) transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .ShortcutsModal_list__eS4ox::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-hidden);
    }
}
@media (prefers-reduced-motion: reduce) {
    .ShortcutsModal_list__eS4ox {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .ShortcutsModal_list__eS4ox::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
}
.ShortcutsModal_text__5JJ0j {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.ShortcutsModal_content__Li9Ip {
    justify-content: space-between;
}
.ShortcutsModal_buttons__o_xlC,
.ShortcutsModal_content__Li9Ip {
    align-items: center;
    display: flex;
}
.ShortcutsModal_buttons__o_xlC {
    gap: var(--ym-spacer-size-xs);
}
.ShortcutsModal_button__cTIee {
    --ym-spacer-size-xxxxs: 0.125rem;
    background-color: var(--ym-controls-color-secondary-default-hovered);
    border: 0.0625rem solid var(--ym-controls-color-primary-text-enabled);
    border-radius: var(--ym-radius-size-xs);
    color: var(--ym-controls-color-primary-text-enabled_variant);
    display: inline-block;
    min-width: 2rem;
    padding-block-end: 0.125rem;
    padding-block-end: var(--ym-spacer-size-xxxxs);
    padding-block-start: 0.125rem;
    padding-block-start: var(--ym-spacer-size-xxxxs);
    text-align: center;
}
.Settings_root__FVVrn {
    list-style: none;
    width: 30.125rem;
}
@media only screen and (max-width: 767.98px) {
    .Settings_root__FVVrn {
        width: auto;
    }
}
.Settings_item__Ksa9h {
    padding-block-end: var(--ym-spacer-size-xxxl);
}
.Settings_item__Ksa9h:last-child {
    padding-block-end: 0;
}
.SettingsPage_root__BB4lC {
    padding: 0;
}
.SettingsPage_scrollableContainer__qD32i {
    height: calc(100% - var(--subpage-sticky-header-height));
    padding: 0;
}
.SettingsPage_container__bIwea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-block-start: var(--subpage-sticky-header-height);
}
.SettingsPage_content__cR6Ra {
    padding-block-start: var(--ym-spacer-size-l);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .SettingsPage_content__cR6Ra {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .SettingsPage_content__cR6Ra {
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .SettingsPage_content__cR6Ra {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.SettingsPage_footer__QIqyx {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .SettingsPage_footer__QIqyx {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .SettingsPage_footer__QIqyx {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .SettingsPage_footer__QIqyx {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
