.Cover_image {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.Cover_image_placeholder {
    aspect-ratio: 1;
    width: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cover_image_placeholder_icon {
    color: #929292;
}

.Cover_container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: var(--cover-size);
    min-width: 245px;
    min-height: 245px;

    transition: var(--cover-width-transition);

    box-shadow: 0 0.5rem 0.75rem
    0.25rem rgba(0, 0, 0, 0.24);

    @media (max-height: 380px) {

        min-width: 50px;
        min-height: 50px;
        width: 50px;
    }
}

.Cover_container_generative {
    box-shadow: unset;
}
