.TrackMeta_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TrackMeta_title {
    font-family: YS Text, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.TrackMeta_artists {
    font-family: YS Text, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5rem;
    color: #ffffff80;
    text-align: center;
    margin: 0;
}
