.TrackMeta_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TrackMeta_title_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 90vw;
    overflow: hidden;
}

.TrackMeta_title {
    white-space: nowrap;

    font-family: YS Text, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.TrackMeta_artists {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: YS Text, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5rem;
    color: #ffffff80;
    text-align: center;
    margin: 0;

    @media (max-height: 380px) {
        -webkit-line-clamp: 1;
    }
}

.TrackMeta_version {
    white-space: nowrap;
    font-family: YS Text, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5rem;
    color: #ffffff80;
    text-align: center;
    margin: 0;
}
