:root {
  --cover-size: min(70vh, 90vw);
  --cover-min-size: 240px;

  @media (min-height: 560px) {
    --cover-size: min(55vh, 90vw);
  }

  @media (min-height: 535px) and (max-height: 549px) {
    --cover-size: min(375px, 90vw);
  }

  @media (min-height: 550px) and (max-height: 565px) {
    --cover-size: min(311px, 90vw);
  }

  @media (min-height: 540px) and (max-height: 560px) {
    --cover-width-transition: width 0.2s;
  }

  @media (max-height: 380px) {
    --cover-size: 245px;
  }
  
  
  @media (max-height: 380px) and (max-width: 590px) {
     .Cover_container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(4px) brightness(0.75);
        scale: 1.05; /* fix for "vignette" effect */
		transition: scale 0.2s;
        z-index: -1;
    }
    .main {--player-bg-color: transparent !important }
  }

}

.main {
  --default-bg-color: #141414;
  --player-color: var(--player-bg-color, var(--default-bg-color));
  --controls-yellow-play-color: #fed42b;
  --controls-primary-color-enabled: #e6e6e6;

  position: absolute;
  inset: 0;
  display: flex;
  background-color: var(--player-color);
  transition: background-color 0.3s, gap 0.3s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 32px;

  @media (max-height: 437px) {
    gap: 0.3rem;
  }

}

.Track_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: flex-direction 0.3s, gap 0.3s;
  align-items: center;
  max-width: var(--cover-size);


  @media (max-height: 437px) {
    gap: 0.3rem;
  }

  @media (max-height: 437px) {
    gap: 0.3rem;
  }

  @media (max-height: 380px) {
    gap: 0.6rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
