.main {
  position: absolute;
  inset: 0;
  display: flex;
  background-color: var(--player-bg-color, var(--default-bg-color));
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
