* {
    user-select: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: absolute;
    inset: 0;
}

.root {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  --default-bg-color: #141414;
}
